.modal .wp-job-manager-application-form .job-manager-message{
   display: block !important;
   position: initial;
}

.modal .job-manager-application-wrapper .select2-selection__arrow {
   display: none;
}
