.footer {
   background-color: $tertiary;
   &__top {
      padding-top: 6rem;
      padding-bottom: 6rem;
      display: flex;
      flex-wrap: wrap;
      @include respond-to('xsmall') {
         display: grid;
         grid-column-gap: 3rem;

         grid-template-columns: 2fr 3fr 3fr 2fr;
      }
      .footer-col {
         margin-bottom: 4rem;
         a {
            transition: all .3s ease-in-out;
            &:hover {
               color: $primary;
               transition: all .3s ease-in-out;
            }
         }
         @include respond-to('small') {
            margin-bottom:  0;
         }
         &:nth-of-type(1) {
            order: 2;
            display: flex;
            justify-content: flex-end;
            @include respond-to('xsmall') {
               order: 1;
               justify-content: flex-start;
            }
         }
         &:nth-of-type(2) {
            order: 1;
         }
         &:nth-of-type(3) {
            order: 3;
            width: 100%;
         }
         &:nth-of-type(4) {
            order: 4;
            width: 100%;
            margin-bottom: 0;
         }
         &:nth-of-type(1),
         &:nth-of-type(2) {
            width: 50%;
            @include respond-to('xsmall') {
               width: 100%;
            }
         }
      }
   }

   &__bottom {
      padding-top: 6rem;
      padding-bottom: 6rem;
      border-top: 1px solid $border-light;
      display: grid;
      grid-row-gap: 6rem;
      @include respond-to('small') {
         grid-template-columns: 8fr 3fr;
      }
      span {
         @extend %small;
      }

      a {
         &:hover {
            @include text-hover();
         }
      }
   }

   &__logo {
      width: 6rem;
      margin-right: 30px;
      &-small {
         width: 23px;
         height: 28px;
         display: inline-block;
         margin-right: 12px;
         margin-bottom: 15px;
         @include respond-to('small') {
            margin-bottom: 0;
         }
         img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
         }
      }
   }

   &-col {
      &__title {
         text-transform: uppercase;
         font-family: $title-font;
         display: inline-block;
         color: $text-light;
         font-weight: 600;
         margin-bottom: 3rem;
         @extend %text-medium-uppercase;
      }
      a {
         color: $secondary;
         padding-bottom: 1.2rem;
         display: inline-block;
         font-weight: 600;
         @extend %small;
      }
     
   }

   &-bottom__col {
      display: flex;
      align-items: center;
   }

   &--dark {
      background-color: $secondary;
      *{
         color: $tertiary;
      }
      .footer__bottom {
         border-top: none;
      }
   }

   .footer-copyright {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      @include respond-to('small') {
         flex-direction: row;
         align-items: center;
      }
   }
}


.error404 {
   .footer--dark {
      display: none;
   }
}