.header {
   padding: 15px 0;
   position: fixed;
   z-index: 1024;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   background-color: #fff;

   @include respond-to('small') {
      flex-direction: row;
      position: absolute;
      margin-bottom: 40px;
   }

   .container-wide {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // Mobile nav list 
   &__nav {
      background-color: $secondary;
      display: none;
      margin-top: 58px;
      overflow: scroll;
      width: 100%;
      height: calc(100vh - 58px);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1024;
      padding-left: 80px;
      padding-top: 25px;

      @include respond-to('small') {
         background-color: transparent;
         position: relative;
         z-index: 1024;
         display: block;
         margin-left: auto;
         margin-top: 0;
         height: auto;
         width: auto;
         visibility: visible;
         overflow: initial;
         opacity: 1;
         padding-left: 0;
         padding-top: 0;
         display: flex;
         align-items: center;
      }

      .btn-small {
         margin-top: 30px;

         @include respond-to('small') {
            margin-top: 0;
            display: none;
         }
      }

      &-primary,
      &-secondary {
         .menu-item:not(.btn) a:not(.btn-small) {
            color: $tertiary;
            padding: 6px 10px 10px 0;
            display: block;
         }
      }

      &-primary {
         margin-bottom: 30px;

         @include respond-to('small') {
            display: flex;
            align-items: center;
            margin-bottom: 0;
         }

         .menu-item:not(.btn) a:not(.btn-small) {
            font-size: 34px;
            line-height: 38px;
            font-family: $title-font-semiBD;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            @include respond-to('small') {
               font-family: $main-font;
               text-transform: none;
               color: $secondary;
               font-size: 14px;
               font-weight: 600;
               padding: 15px 15px;
            }
            &:hover {
               opacity: .8;
               transition: all .3s ease-in-out;
            }
         }

         .current-menu-item {
            position: relative;
            @include respond-to('small') {
               &:before {
                  content: "";
                  display: inline-block;
                  width: calc(100% - 30px);
                  height: 2px;
                  background-color: rgba(114, 114, 114, 0.5);
                  position: absolute;
                  left: 15px;
                  bottom: 15px;
               }
            }
            &:after {
               content: "";
               display: inline-block;
               width: 40px;
               height: 5px;
               background-color: $tertiary;
               position: absolute;
               left: -60px;
               top: 23px;

               @include respond-to('small') {
                  display: none;
               }
            }
         }

         .menu-item.btn {
            display: inline;
            &.current_page_item {
               &:before {
                  display: none;
               }
            }
            a {
               text-align: center;
               display: block;
               padding: 10px 10px;
               color: $primary;
               @include respond-to('medium') {
                  font-family: $main-font;
                  text-transform: none;
                  font-size: 14px;
                  font-weight: 600;
               }
              
            }
         }
      }

      &-secondary {
         @include respond-to('small') {
            display: none;
         }

         a {
            font-size: 20px;
            line-height: 28px;
         }
      }

      &-background {
         min-height: 138px;
         margin-top: 8px;
         margin-bottom: 80px;
         background-image: url("img/BarbellJobs-transparent.png");
         background-size: cover;
         background-position: left;
         background-repeat: no-repeat;

         @include respond-to('small') {
            display: none;
         }
      }

      &-copyright {
         position: relative;
         left: -40px;
         bottom: 50px;
         transform-origin: left bottom;
         transform: rotate(-90deg);
         white-space: nowrap;
         color: $tertiary-05;

         @include respond-to('small') {
            display: none;
         }
      }

      .social-links {
         margin-top: auto;

         @include respond-to('small') {
            display: none;
         }

         &__icon {
            margin-right: 30px;
         }
      }

      .footer-col__title {
         display: none;
      }
   }

   // Header logoes 
   &__logo-mobile {
      @include respond-to('small') {
         display: none;
      }
   }

   &__logo-desktop {
      display: none;

      @include respond-to('small') {
         display: flex;
         width: 142px;
      }
   }

   &__right {
      display: flex;
      align-items: center;
   }

   // Mobile burger and close button 
   &__burger {
      margin-left: 16px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: $secondary;

      @include respond-to('small') {
         display: none;
      }
   }

   &__close {
      display: none;
      color: $secondary;
      background-color: $tertiary;
      border-radius: 50%;
      font-size: 30px;
      line-height: 0;
      width: 28px;
      height: 28px;
      justify-content: center;
      align-items: center;

      @include respond-to('small') {
         display: none;
      }

      span {
         transform: rotate(45deg);
         display: block;
         font-weight: 500;
         position: relative;
         top: -1px;
         left: 1px;
      }
   }

   // Mobile active menu 
   &--active {
      // margin-bottom: 80px;
      background-color: $secondary;
      transition: none;
      transition-delay: 0;

      @include respond-to('small') {
         background-color: inherit;
      }

      .header__nav {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
      }

      .header__burger {
         display: none;
      }

      .header__close {
         display: flex;
         position: relative;
         z-index: 1025;

         @include respond-to('small') {
            display: none;
         }
      }

      .header__logo {
         position: relative;
         z-index: 1025;
      }

      .header__btn {
         display: none;
      }

      .header__logo--dark {
         display: none;

         @include respond-to('small') {
            display: block;
         }
      }

      .header__logo--white {
         display: block;
      }

      .btn-profile {
         display: none;

         @include respond-to('small') {
            display: none;
         }
      }
   }

   &--scroll-up {
      top: -70px;
      transition: all .5s ease-in-out;
      ;
   }

   &__btn {
      display: block;
      margin-left: 32px;

      &.btn--small {
         min-width: auto;
      }

      @extend %button--primary;
   }
}

// Header dark version
.single-job_listing,
.page-template-checkout-template,
.page-template-hero-template,
.page-template-vip-landing-template,
.page-template-lost-password-template,
.page-template-default,
.page-template-about-template,
.single-resume,
.error404 {
   .site {
      padding-top: 0;
   }
}

.single-job_listing,
.resume-template-default,
.error404,
.page-template-checkout-template,
.page-template-hero-template,
.page-template-default,
.page-template-vip-landing-template,
.page-template-lost-password-template,
.page-template-about-template,
.single-resume,
.header--dark {
   padding-top: 0;

   .header {
      background: linear-gradient(180deg, #050934 0%, rgba(5, 9, 52, 0) 100%);

      &--active {
         background: $secondary;

         @include respond-to('small') {
            background: inherit;
         }
      }

      &__nav {
         @include respond-to('small') {
            background-color: transparent;
         }

         &-primary {
            .menu-item:not(.btn) a {
               @include respond-to('small') {
                  color: #fff;
               }
            }
         }
      }

      &--background-dark {
         background-color: $secondary;
         border-bottom: 1px solid $border-deselect;
      }

      &__logo--dark {
         display: none;
      }

      &__burger {
         span {
            color: #fff;
         }

         svg line {
            stroke: #fff;
         }
      }

      &__btn {
         @extend %button--white;
      }

      .btn-profile {
         &__button {
            background-color: $secondary;
            border: 1px solid rgba(232, 232, 232, .25);
            color: #fff;

            .arrow {
               border-color: #fff;
            }

            &--large {
               background-color: $secondary-light;
               color: $secondary;
            }
         }
      }
   }
}

// Btn profile 
.btn-profile {
   position: relative;
   margin-left: 17px;
   padding-right: 16px;
   cursor: pointer;

   p,
   a {
      font-size: 16px;
      line-height: 24px;
      color: $text;
   }

   a {
      &:hover {
         @include text-hover();
      }
   }

   &--clickable {
      cursor: pointer;
   }

   &__button {
      width: 40px;
      height: 40px;
      border: 1px solid $border-light;
      background-color: $secondary-light;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      color: $secondary;

      .arrow {
         position: absolute;
         right: 3px;
         top: 50%;
         bottom: 50%;
         border-color: $text;
         transform: translateY(-50%) rotate(45deg);
         padding: .3rem;
      }

      &--large {
         width: 80px;
         height: 80px;
      }
   }

   &__dropdown {
      display: none;
      width: 216px;
      background-color: #fff;
      border: 1px solid $border-light;
      position: absolute;
      top: 48px;
      right: 0;
   }

   &__header {
      padding: 20px 20px 16px 20px;
      border-bottom: 2px dashed $border-light;

      .btn-profile__button {
         margin-bottom: 12px;
         margin-left: auto;
         margin-right: auto;
      }

      p {
         font-weight: 600;
         text-align: center;
         margin: 0;
      }
   }

   &__links {
      padding: 16px 20px 0 20px;

      a {
         padding-bottom: 16px;
         display: inline-block;
      }
   }
}