.author {
   &__img {
      border-radius: 50%;
      overflow: hidden;
      img {
         height: 100%;
         width: auto;
      }
   }
   &__name {
     h6 {
      color: $primary;
      text-transform: uppercase;
      font-family: $title-font-semiBD;
     }
     span {
        font-weight: $font-weight-bold;
        color: $text-light;
     }
     p {
      color: $text-light;
     }
   }

   &--small {
      display: flex;
      align-items: center;
      .author__img {
         width: 32px;
         height: 32px;
      }
      .author__name {
         margin-left: 12px;
         width: calc(100% - 32px);
         h6 {
            font-weight: 500;
            @extend %text-medium-uppercase;
         }
      }
   }
   &--large {
      @include respond-to('small') {
         display: flex;
      }
      .author__img {
         width: 6rem;
         height: 6rem;
         @include respond-to('small') {
            flex-shrink: 0;
         }
      }
      .author__name {
         @include respond-to('small') {
            margin-left: 2.8rem;
            width: calc(100% - 6rem);
         }
         h6 {
            font-weight: 500;
            @extend %x-large;
            margin-bottom: 4px;
         }
         span {
            font-size: 14px;
         }
         p {
            font-size: 16px;
            line-height: 24px;
         }
      }
      .author__description {
         margin-top: 20px;
      }
   }
}

