%button {
   display: inline-block;
   font-family: $title-font-semiBD;
   @include fluid-type(320px, 1200px, 16px, 20px);
   @include line-height(320px, 1200px, 16px, 20px);
   text-transform: uppercase;
   padding: 12px 24px;
   border: 2px solid transparent;
   transition: all .3s ease-in-out;
   cursor: pointer;

   @include respond-to('medium') {
      padding: 14px 24px;
   }

   &:hover {
      transition: all .3s ease-in-out;
   }
}

%button-icon {
   position: relative;
   padding-left: 56px;

   &:before {
      content: "";
      display: inline-block;
      background-image: url(img/download-icon.svg);
      margin-right: 12px;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      left: 28px;
      transform: translateY(-50%);
      top: 50%;
      bottom: 50%;
   }
}

.btn-arrow {
   border: 1px solid $border-light;
   border-radius: 50%;
   width: 6rem;
   height: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .3s ease-in-out;

   .arrow {
      margin-right: 3px;
   }

   &--medium {
      width: 5rem;
      height: 5rem;

      .arrow {
         padding: 3px;
      }
   }

   &:hover {
      transform: scale(1.1);
      transition: all .3s ease-in-out;
   }
}

%button--primary {
   background-color: $primary;
   color: #fff;

   &:hover {
      background-color: $primary_hover;
   }

   &:focus {
      background-color: $primary_focus;
   }
}

%button--secondary {
   background-color: $secondary;
   color: #fff;

   &:hover {
      background-color: $secondary_hover;
   }

   &:focus {
      background-color: $secondary_focus;
   }
}

%button--light {
   border: 2px solid $primary;
   color: $primary;
   background-color: #fff;

   &:hover {
      border-color: $primary_hover;
      color: $primary_hover;
   }

   &:focus {
      background-color: $primary_focus;
      color: #fff;
   }
}

%button--border {
   border: 2px solid $primary;
   color: $primary;

   &:hover {
      border-color: $primary_hover;
      color: $primary_hover;
   }

   &:focus {
      background-color: $primary_focus;
      color: #fff;
   }
}


%button--border-white {
   border: 2px solid #fff;
   color: #fff;
   background-color: transparent;

   &:hover {
      border-color: $primary_hover;
      color: $primary_hover;
   }
}

%button--border-light {
   border: 2px solid $border-light;
   color: $text;
   background-color: #fff;

   &:hover {
      border-color: $primary_hover;
      background-color: #fff;
      color: $primary_hover;
   }
}

%button--white {
   color: $secondary;
   background-color: #fff;

   &:hover {
      color: $primary_hover;
   }

   &:focus {
      background-color: $primary_focus;
      color: #fff;
   }
}

%button--ghost {
   color: $primary;
   background-color: transparent;

   &:hover {
      border-color: $primary_hover;
      background-color: transparent;
      color: $primary_hover;
   }

   &:focus {
      border-color: $primary_focus;
      color: $primary_focus;
      background-color: #fff;
   }
}

%button--medium {
   font-size: 16px;
   line-height: 16px;
   padding: 10px 28px;
}

%button--small {
   font-size: 13px;
   padding: 6px 15px;
   min-width: 142px;
   text-transform: none;
   font-family: $main-font;
   font-weight: $font-weight-bold;
   text-align: center;
}

.btn {
   @extend %button;

   &--medium {
      @extend %button--medium;
   }

   &--small {
      @extend %button--small;
   }

   &--primary {
      @extend %button--primary;
   }

   &--secondary {
      @extend %button--secondary;
   }

   &--light {
      @extend %button--light;
   }

   &--border {
      @extend %button--border;
   }

   &--border-white {
      @extend %button--border-white;
   }

   &--border-light {
      @extend %button--border-light;
   }

   &.btn--ghost {
      @extend %button--ghost;
   }

   &--white {
      @extend %button--white;
   }

   &--download,
   &--certificate,
   &--send,
   &.btn--certificate {
      @extend %button-icon;
   }

   &--download {
      &:before {
         background-image: url(img/download-icon.svg);
      }
   }

   &--certificate {
      &:before {
         background-image: url(img/certificate-icon.svg);
      }
   }

   &--send {
      &:before {
         background-image: url(img/send-icon.svg);
      }
   }

   &--wide {
      width: 100%;
      text-align: center;
      display: block;
   }

   &--mt-medium {
      margin-top: 4rem
   }

   &--remove-border {
      border: none;
   }

   &--link {
     background-color: transparent;
     border: none;
     text-decoration: underline;
   }
}

.btn-visit-site {
   @include fluid-type(320px, 1360px, 14px, 16px);
   font-weight: $font-weight-bold;
   color: $primary;
   display: flex;
   align-items: center;

   &:before {
      content: "";
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(img/visit-site-icon.png);
      width: 16px;
      height: 16px;
      margin-right: 8px;
   }

   &:hover {
      color: $primary_hover;
      transform: all .3s ease-in-out;
   }
}

.btn-link-back {
   display: flex;
   align-items: center;
   font-size: 14px;

   &:hover {
      @include text-hover;

      .arrow {
         border-color: $primary;
         transition: all .3s ease-in-out;
      }
   }

   .arrow {
      border-color: #fff;
      margin-right: 6px;
      position: relative;
      top: -1px;
   }
}

.btn-close {
   cursor: pointer;
   color: $secondary;
   background-color: $tertiary;
   border-radius: 50%;
   font-size: 23px;
   line-height: 0;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
   z-index: 1026;
   display: flex;
   justify-content: center;
   align-items: center;

   span {
      transform: rotate(45deg);
      display: block;
      font-weight: 700;
      position: relative;
      top: -1px;
      left: 1px;
   }

   &--medium {
      font-size: 20px;
      line-height: 20px;
   }

   &--small {
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 12px;
   }

   &--position {
      position: fixed;
      top: 20px;
      right: 20px;
   }

   &--dark {
      background: $secondary-light;
   }

   &--red {
      background: $primary_hover;
      color: #fff;
   }

   &--grey {
      background: $border-color;
      span {
         color: #fff;
      }
   }

   &:hover {
      background: $primary_hover;
      transition: all .3s ease-in-out;
   }
}

.btn-share,
button.btn-share {
   display: inline-block;
   font-size: 12px;
   line-height: 12px;
   text-transform: uppercase;
   color: $secondary;
   border: 1px solid $border-light;
   border-radius: 36px;
   padding: 16px 54px 16px 24px;
   position: relative;
   margin-top: 4rem;
   transition: all .3s ease-in-out;
   position: relative;
   cursor: pointer;

   &:hover {
      border-color: $border-color;
   }

   img {
      width: 16px;
      margin-left: 10px;
      position: absolute;
      right: 24px;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
   }

   .a2a_kit a {
      margin-bottom: 10px;
   }

   &__content {
      display: none;
      background-color: #fff;
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      padding: 10px 10px 0 10px;
      position: absolute;
      width: 200px;
      top: 50px;
      left: 0;
   }
}