.cta {
   background-color: $primary;
   padding: 28px;

   @include respond-to('small') {
      padding: 40px 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
   }

   h2,h3,h4,h5 {
      @extend %text-large-uppercase;
      margin-bottom: 2.4rem;
   }
    
   p,li {
      @extend %medium;
      &:nth-last-of-type(1) {
         margin-bottom: 0;
      }
   }

   *:not(.btn) {
      color: #fff;
   }

   &__content {
      max-width: 680px;
      .btn {
         margin-top: 2.4rem;
      }
   }

   &__logo {
      display: none;
      @include respond-to('small') {
         flex-shrink: 0;
         display: block;
         width: 85px;
         height: 104px;
         margin-left: 40px;
         img {
            width: auto;
            height: auto;
            max-height: 100%;
         }
      }
   }

   &--inner {
      .btn {
         @include respond-to('small') {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
         }
      }
   }

   &--blue {
      background-color: $secondary;
   }

   &.cta--large {
      @include respond-to('large') {
         padding: 56px 10rem;
      }
      @include respond-to('medium') {
         min-height: 375px;
      }
      .cta__logo {
         @include respond-to('large') {
            width: 108px;
            height: 120px;
         }
      }
      .cta__content {
         max-width: 760px;
      }
      p {
         @extend %xx-large;
         font-weight: 500;
      }
   }

}