.editor {
   p,li {
      color: $text-light;
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 24px, 28px);
   }
   ul, p {
      margin-bottom: 2.5rem;
      font-weight: $font-weight-regular;
   }

   ul {
      padding-left: 3rem;
   }

   a {
      color: $primary;
   }
   strong {
      color: $text;
      font-weight: 600;
   }
   li {
      margin-bottom: 2rem;
   }
   h2{
      margin-bottom: 2.1rem;
      margin-top: 6rem;
      font-family: $title-font-semiBD;
   }
   h3,h4,h5,h6 {
      margin-bottom: 1.7rem;
      margin-top: 3rem;
      font-family: $title-font-semiBD;
   }
   ol {
      padding-left: 4.5rem;
      counter-reset: list;
      
      li {
         margin-bottom: 2rem;
         list-style: none;
         position: relative;
         &:before {
            content:  "(" counter(list, lower-alpha) ") ";
            counter-increment: list;
            display: inline-block;
            position: absolute;
            left: -4.5rem;
            color: $text;
         }
      }
   }

   .wp-block-columns {
      margin-bottom: 0;
      p:nth-last-of-type(1) {
         margin-bottom: 0;
      }
   }
   .wp-block-image {
      margin-bottom: 2rem;
   }

   .wp-block-buttons {
      margin-bottom: 2rem;
      a.wp-block-button__link {
         @extend %button;
         @extend %button--primary;
         border-radius: 0!important;
      }
   }

   .wp-block-pullquote {
      margin-bottom: 6rem;
      padding: 0;
      text-align: left;
      blockquote {
         margin: 0;
      }
      p {
         font-size: 24px;
         line-height: 32px;
         color: $text;
         font-weight: 400;
      }
   }

   .counter {
      &:before {
         display: none;
         @include respond-to('medium') {
            display: flex;
            left: -64px;
         }
      }
   }

   &.editor--single-main {
      .single-main-title {
         margin-bottom: 8rem;
      }
      h2 {
         margin-top: 0;
         margin-bottom: 4rem;
      }

      h2,
      .has-huge-font-size {
         @extend %text-xxl-large-uppercase;
      }
      
      h3,
      .has-large-font-size {
         @extend %text-xx-large-uppercase;
      }
      
      h4,
      .has-medium-font-size {
         @extend %text-x-large-uppercase;
      }
      
      h5,
      .has-normal-font-size {
         @extend %text-large-uppercase;
      }
      
      h6,
      .has-small-font-size {
         @extend %text-medium-uppercase;
      }

      p,li {
         @extend %base;
      }
      p {
         margin-bottom: 2rem;
      }
      ul{
         padding-left: 0;
         margin-left: 0;
         margin-top: 0;
      }

      ul {
         li {
            margin-bottom: 8px;
            list-style: none;
            position: relative;
            padding-left: 3rem;
            &:before {
               content: "";
               display: inline-block;
               width: 15px;
               height: 1px;
               background-color: $text-light;
               margin-right: 12px;
               position: absolute;
               left: 0;
               top: 12px;
            }
         }
      }

      hr {
         margin-top: 6rem;
         margin-bottom: 6rem;
      }
   }
   
   p.has-huge-font-size,
   .has-huge-font-size {
      @extend %xxl-large;
   }

   p.has-large-font-size,
   .has-large-font-size {
      @extend %xx-large;
   }

   p.has-medium-font-size,
   .has-medium-font-size {
      @extend %x-large;
   }

}


