/* Forms
--------------------------------------------- */
/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=submit] {
   cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
   margin-bottom: 20px;
   color: $text;
   border: 2px solid $border-color;
   padding: 16px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   width: 100%;

   &:focus {
      transition: all .3s ease-in-out;
      border-color: rgba(0, 15, 23, .3);
      outline: none;
   }
}

select {
   border: 1px solid $border-color;
}

textarea {
   width: 100%;
   line-height: 24px;
   resize: vertical;
}

label {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 6px;
   color: $text-light;
   cursor: pointer;
   display: inline-block;

   input,
   textarea,
   .input {
      margin-top: 5px;
   }
}

::-webkit-input-placeholder {
   /* WebKit, Blink, Edge */
   font-size: 16px;
   line-height: 20px;
   color: $text-placeholder;;
}

:-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   font-size: 16px;
   line-height: 20px;
   color: $text-placeholder;;
}

::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   font-size: 16px;
   line-height: 20px;
   color: $text-placeholder;
}

:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   font-size: 16px;
   line-height: 20px;
   color: $text-placeholder
}

::-ms-input-placeholder {
   /* Microsoft Edge */
   font-size: 16px;
   line-height: 20px;
   color: $text-placeholder
}

::placeholder {
   /* Most modern browsers support this now. */
   font-size: 16px;
   line-height: 20px;
   color: $text-placeholder
}

.input-tag {
   border: 2px solid $border-color;
   padding: 9px 16px 5px 16px;
}

.search-large {
   position: relative;

   ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 22px, 28px);
      // line-height: 28px;
      color: $text-03;
   }

   :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 22px, 28px);
      // line-height: 28px;
      color: $text-03;
   }

   ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 22px, 28px);
      // line-height: 28px;
      color: $text-03;
   }

   :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 22px, 28px);
      color: $text-03;
   }

   ::-ms-input-placeholder {
      /* Microsoft Edge */
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 22px, 28px);
      color: $text-03;
   }

   ::placeholder {
      /* Most modern browsers support this now. */
      @include fluid-type(320px, 1200px, 16px, 20px);
      @include line-height(320px, 1200px, 22px, 28px);
      color: $text-03;
   }

   input[type=search] {
      padding: 2.4rem 110px 2.4rem 3.2rem;
      @include fluid-type(320px, 1200px, 16px, 20px);
      line-height: 20px;
      background-color: $background-section-light;
      margin-bottom: 0;
      border-color: $border-light;

      @include respond-to('small') {
         padding-right: 130px;
      }
   }

   input[type=submit] {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      height: calc(100% - 2.4rem);
      padding: 5px 2.4rem;
   }
}


// Form dark 
.form-dark {

   input:-webkit-autofill,
   input:-webkit-autofill:hover, 
   input:-webkit-autofill:focus,
   textarea:-webkit-autofill,
   textarea:-webkit-autofill:hover,
   textarea:-webkit-autofill:focus,
   select:-webkit-autofill,
   select:-webkit-autofill:hover,
   select:-webkit-autofill:focus {
      filter:none;
      -webkit-text-fill-color: #fff;
      box-shadow: 0 0 0 30px #050934 inset !important;
      -webkit-box-shadow: 0 0 0 30px #050934 inset !important;
      opacity: 1;
   }

   input[type="text"],
   input[type="email"],
   input[type="url"],
   input[type="password"],
   input[type="search"],
   input[type="number"],
   input[type="tel"],
   input[type="range"],
   input[type="date"],
   input[type="month"],
   input[type="week"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="color"],
   textarea {
      background-color: rgba(5, 9, 52, .3);
      border-color: $border-deselect;
      color: #fff;

      &:focus {
         border-color: $border-light;
         transition: all .3s ease-in-out;
         outline: none;
         box-shadow: none;
      }
   }

   .checkmark-container.vip,
   .checkmark-container {
      color: $tertiary;

      .checkmark {
         background-color: transparent;
         border-color: $border-deselect;
      }
   }

   ::-webkit-input-placeholder {
      color: $tertiary;
   }

   :-moz-placeholder {
      color: $tertiary;
   }

   ::-moz-placeholder {
      color: $tertiary;
   }

   :-ms-input-placeholder {
      color: $tertiary;
   }

   ::-ms-input-placeholder {
      color: $tertiary;
   }

   ::placeholder {
      color: $tertiary;
   }
}

.form-small {

   input[type="text"],
   input[type="email"],
   input[type="url"],
   input[type="password"],
   input[type="search"],
   input[type="number"],
   input[type="tel"],
   input[type="range"],
   input[type="date"],
   input[type="month"],
   input[type="week"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="color"],
   textarea {
      font-size: 16px;
      padding: 8px 16px;
      margin-bottom: 20px;
      color: $text;
      background-color: #fff;
   }

   textarea {
      min-height: 13.6rem;
      line-height: 24px;
   }

   label {
      font-size: 14px;
      margin-bottom: 4px;
   }
}

.form-col {
   width: 100%;
}

.form-col2 {
   @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      .form-col {
         width: calc(50% - 10px);
      }
   }
}

.form-col3 {
   @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      .form-col {
         width: calc(33.33% - 10px);
      }
   }
}

.form-col-3-7 {
   display: flex;
   flex-wrap: wrap;

   &--label {
      width: 100%;
      display: block;
   }

   span.select2:nth-of-type(2) {
      width: 30% !important;
   }

   span.select2~.select2 {
      width: 70% !important;

      .select2-selection--single {
         border-left: none;
      }
   }
}

.required-star {
   color: $warning;
}

@mixin checkmark() {
   display: block;
   position: relative;
   cursor: pointer;
   font-size: 22px;
   height: 24px;
   user-select: none;
   font-size: 16px;
   color: $text-light;
   padding-left: 35px;
   display: flex;
   align-items: center;
   padding-top: 4px;

   input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.checkmark {
         background-color: $primary;
         border-color: transparent;
         transition: all .2s ease-in-out;
      }

      &:checked~.checkmark:after {
         display: block;
         transition: all .2s ease-in-out;
      }
   }

   .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: #fff;
      border: 2px solid $border-color;

      &:after {
         content: "";
         position: absolute;
         left: 7px;
         top: 1px;
         width: 6px;
         height: 14px;
         border: solid white;
         border-width: 0 2px 2px 0;
         transform: rotate(45deg);
         display: none;
      }
   }
}

// Custom checkmark
.checkmark-container {
   @include checkmark;
}

/* The container */
.radio-container {
   display: block;
   position: relative;
   user-select: none;
   height: 24px;
   width: 24px;
   // &:hover input~.checkmark {
   //    background-color: #ccc;
   // }

   input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked~.radio-checkmark:after {
         display: block;
      }
   }

   .radio-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: #fff;
      border: 1px solid $primary;
      border-radius: 50%;
      display: inline-block;
      &:after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         bottom: 50%;
         right: 50%;
         transform: translate(-50%, -50%);
         width: 14.4px;
         height: 14.4px;
         border-radius: 50%;
         background: $primary;
         display: none;
      }
   }

   &__label {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
   
      .radio-container {
         margin-right: 10px;
      }
   }
}

// Switch 
.switch {
   position: relative;
   display: inline-block;
   padding-left: 55px;
   margin-bottom: 20px;
   margin-top: 12px;
   line-height: 30px;

   @include respond-to('small') {
      margin-bottom: 32px;
   }

   input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked+.switch__slider {
         background-color: $primary;
      }

      &:focus+.switch__slider {}

      &:checked+.switch__slider:before {
         transform: translateX(20px);
      }
   }

   &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #D2D3E1;
      transition: .4s;
      border-radius: 34px;
      width: 48px;
      height: 28px;

      &:before {
         position: absolute;
         content: "";
         height: 20px;
         width: 20px;
         left: 4px;
         bottom: 4px;
         background-color: white;
         box-shadow: $box-shadow2;
         transition: .4s;
         border-radius: 50%;
      }
   }
}

// Select 2 
.select2-container {
   margin-bottom: 20px;
   width: 100% !important;
}

.fieldset-type-term-multiselect.error,
.fieldset-type-wp-editor.error {
   border: initial;
}

.error .select2-container .select2-selection--single {
   border-color: $warning;
}

.error .select2-container .select2-selection--multiple {
   border-color: $warning;
}

.select2-container .select2-selection--single {
   height: 55px;
   border-radius: 0;
   border: 2px solid $border-color;

   &:focus {
      border-color: $border-color;
   }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
   background-color: $background-section-light;
   border-color: $border-color;
   margin-bottom: 0;
}

.select2-results li {
   margin-bottom: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
   height: 100%;
   display: flex;
   align-items: center;
   padding: 16px;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
   background-color: $warning-background;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

   b {
      border: solid $text-light;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: .3rem;
      transform: rotate(45deg);
      top: calc(50% - 5px);
      margin-left: -10px;
   }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
   b {
      transform: rotate(-135deg);
   }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
   border-color: $border-color;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
   background-color: $background-section-light;
   color: $text-light;
}

.select2-container--default .select2-results li {
   font-size: 14px;
   line-height: 24px;
}

.select2-dropdown {
   border: 2px solid $border-color;
   border-radius: 0;
}

.select2-container--default .select2-search--inline .select2-search__field {
   margin-bottom: 0;
   margin-top: 0;
   padding: 16px 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
   padding: 0;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 16px;
}

.select2-container--default .select2-selection--multiple {
   border-radius: 0;
   border: 2px solid $border-color;
}

.select2-container--default .select2-selection--multiple {
   .select2-selection__choice__remove {
      position: relative;
      position: absolute;
      right: 10px;
      color: #fff;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 16px;
      &:before {
         position: absolute;
         content: "";
         display: block;
         width: 16px;
         height: 16px;
         border-radius: 50%;
         background: $border-color;
         z-index: -1;
         top: 55%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   .select2-selection__choice {
      display: flex;
      align-items: center;
      border: 1px solid $border-light;
      background: #fff;
      text-transform: normal;
      padding: 6px 36px 6px 12px;
      border-radius: 2px;
      margin-right: 4px;
      height: 32px;
      margin-bottom: 4px;
      font-weight: 400;
      position: relative;
      font-size: 14px;
      line-height: 16px;

      @include respond-to('small') {
         font-size: 16px;
      }
   }
}

.select2-container--default .select2-selection--multiple {
   border-color: $border-light;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
   border: 2px solid $border-color;
}

.was-validated .custom-select:invalid+.select2 .select2-selection {
   border-color: #dc3545 !important;
}

.was-validated .custom-select:valid+.select2 .select2-selection {
   border-color: #28a745 !important;
}
