// Hero sections version
// Hero single  --single
// Hero profile --profile
// Hero profile empty --profile-empty
%hero-background {
    background-color: $secondary;
    &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }
    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        mix-blend-mode: soft-light;
        background-image: url(img/background-hero-shape.png);
        opacity: 0.5;
        z-index: 2;
    }
}

.hero-default-image {
    &:before {
        background-image: url(img/hero-default.png);
        opacity: .6;
    }
}

.hero {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    @extend %hero-background;
    @include respond-to('small') {
        padding-top: 120px;
        padding-bottom: 8.8rem;
    }
    *:not(.btn):not(.hero__guide-list):not(.hero__subtitle) {
        color: #fff;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 3;
        position: relative;
    }
    h1 {
        @extend %gigantig-uppercase;
        margin-bottom: 4rem;
    }
    .hero--huge-title {
        @extend %gigantig2-uppercase;
    }
    &__content {
        max-width: 950px;
        p {
            @include fluid-type(320px, 1200px, 16px, 24px);
            @include line-height(320px, 1200px, 24px, 32px);
            margin-bottom: 20px;
        }
        .btn {
            margin-top: 2rem;
        }
    }
    &__tags {
        max-width: 720px;
    }
    &__guide {
        position: relative;
        z-index: 5;
        border-top: 1px solid $border-dark-03;
        border-bottom: 1px solid $border-dark-03;
        margin-bottom: 5.4rem;
        transition: all .2s ease-in-out;
        .container {
            display: flex;
            flex-wrap: nowrap;
            min-width: 700px;
            @include respond-to('small') {
                justify-content: center;
            }
        }
        &--scroll {
            overflow-x: auto;
            @include respond-to('medium') {
                overflow: initial;
            }
        }
        &--fixed {
            border-bottom: 1px solid $border-light;
            @include respond-to('medium') {
                position: fixed;
                transition: all .2s ease-in-out;
                z-index: 1024;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                background-color: #fff;
                .hero__guide-list {
                    color: $border-color;
                    border: $border-color;
                    .hero__guide-checkmark {
                        background-color: $border-color;
                        &:before {
                            border-color: #fff;
                        }
                    }
                    &.active {
                        color: $success;
                        border-bottom: 3px solid $success;
                        .hero__guide-checkmark {
                            background-color: $success;
                        }
                    }
                }
            }
        }
        .hero__guide--space-between {
            @include respond-to('small') {
                justify-content: space-between;
            }
        }
        &-checkmark {
            background-color: $border-deselect;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            position: relative;
            margin-right: 8px;
            flex-shrink: 0;
            &:before {
                content: "";
                position: absolute;
                left: 6px;
                top: 3px;
                width: 5px;
                height: 8px;
                border: solid $secondary;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
    &__guide-list {
        padding: 2rem 3rem 2rem 0;
        position: relative;
        bottom: -1px;
        display: flex;
        flex-grow: 1;
        align-items: center;
        color: #e8e8e840;
        font-family: $title-font-semiBD;
        @include fluid-type(320px, 1200px, 14px, 18px);
        @include line-height(320px, 1200px, 16px, 20px);
        text-transform: uppercase;
        &.active {
            border-bottom: 3px solid #fff;
            color: #fff;
            .hero__guide-checkmark {
                background-color: #fff;
            }
        }
        &--center {
            margin-bottom: 8.8rem;
            .container {
                max-width: 100%;
                min-width: 100%;
            }
            .hero__guide-list {
                width: 33%;
                @include respond-to('small') {
                    flex-grow: 0;
                    min-width: 220px;
                    width: auto;
                }
            }
        }
    }
    &__profile-list {
        margin-bottom: 32px;
        li {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 6px;
            color: $tertiary;
            @include respond-to('small') {
                display: inline-block;
                margin-right: 15px;
            }
        }
        img {
            width: 16px;
            margin-right: 6px;
        }
    }
    &__footer {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-column-gap: 32px;
        grid-row-gap: 20px;
        border-top: 1px solid $border-dark-03;
        padding-top: 28px;
        @include respond-to('xsmall') {
            grid-template-columns: 3fr 3fr 3fr;
        }
        &--title,
        &--title a:not(.btn) {
            font-family: $title-font;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 4px;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            @include respond-to('small') {
                font-size: 32px;
                line-height: 32px;
            }
        }
        &--desc {
            font-size: 10px;
            line-height: 12px;
            display: inline-block;
            text-transform: uppercase;
            color: $tertiary-05 !important;
            letter-spacing: 1.25px;
            @include respond-to('small') {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .btn-link-back {
        margin-bottom: 30px;
        @include respond-to('medium') {
            margin-bottom: 6.5rem;
        }
    }
    &__social-icons {
        .social-icons {
            display: flex;
            flex-direction: row;
            @include respond-to('small') {
                flex-direction: column;
                align-items: flex-end;
            }
            .social-icon {
                margin-right: 4px;
                @include respond-to('small') {
                    margin-bottom: 7px;
                    margin: 0 0 7px 0;
                    &:nth-last-of-type(1) {
                        margin-bottom: 0;
                    }
                }
                &:nth-last-of-type(1) {
                    margin-right: 0;
                }
            }
        }
    }
    // Hero main 
    &--main {
        padding-bottom: 5rem;
        .hero__content {
            margin-top: 4rem;
            margin-bottom: 6rem;
            max-width: 860px;
            &-inner {
                max-width: 630px;
            }
            p {
                @include fluid-type(320px, 1200px, 16px, 20px);
                @include line-height(320px, 1200px, 24px, 28px);
            }
        }
    }
    // Hero section single 
    &--single-layout {
        .btn-link-back {
            order: 1;
            @include respond-to('small') {
                width: 100%;
            }
        }
        .hero__content {
            order: 3;
            width: 100%;
            @include respond-to('small') {
                width: calc(100% - 80px);
                order: 2;
            }
            @include respond-to('large') {
                max-width: 630px;
            }
        }
        .hero__social-icons {
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: 0;
            order: 2;
            @include respond-to('small') {
                width: 80px;
                order: 2;
            }
        }
    }
    // Hero section profile 
    &--profile-layout {
        .hero__profile-img {
            margin-bottom: 24px;
            order: 2;
            @include respond-to('small') {
                flex-shrink: 1;
                margin-right: 32px;
            }
        }
        .hero__social-icons,
        .hero__right-col {
            order: 3;
            margin-left: auto;
            @include respond-to('small') {
                width: 80px;
                flex-shrink: 1;
            }
        }
        .hero__content {
            order: 4;
            max-width: 865px;
            @include respond-to('small') {
                padding-top: 12px;
                width: calc(100% - 195px);
                order: 3;
            }
        }
        .btn-link-back {
            width: 100%;
            margin-top: 20px;
        }
        .hero__tags {
            margin-bottom: 32px;
            max-width: 865px;
            @include respond-to('small') {
                margin-top: 7.4rem;
            }
            &--half {
                @include respond-to('large') {
                    width: calc(100% - 226px);
                }
            }
        }
    }
    // Hero section profile empty 
    &--profile-empty-layout {
        .hero__right-col {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            @include respond-to('small') {
                margin-bottom: 0;
                width: 28rem;
                flex-shrink: 1;
            }
            &--center {
                @include respond-to('small') {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
        .hero__content {
            order: 4;
            max-width: 865px;
            @include respond-to('small') {
                width: calc(100% - 28rem - 115px);
                order: 3;
                margin-left: auto;
            }
        }
    }
    &--pb-small {
        padding-bottom: 2rem;
    }
    &--pt-small {
        padding-top: 110px;
    }
    &__subtitle {
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 1.25px;
        color: $tertiary-05;
        margin-bottom: 5px;
    }
}

.hero-about {
    position: relative;
    padding-top: 80px;
    background-color: $secondary;
    @include respond-to('small') {
        padding-top: 120px;
    }
    @include respond-to('medium') {
        padding-top: 190px;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }
  
    h1 {
        @extend %gigantig-uppercase;
        margin-bottom: 4rem;
        color: #fff;
    }
    &__content {
        max-width: 640px;
        p {
            @include fluid-type(320px, 1200px, 16px, 24px);
            @include line-height(320px, 1200px, 24px, 32px);
            margin-bottom: 20px;
        }
        .btn {
            margin-top: 2rem;
        }
    }
    &__img {
        position: relative;
        z-index: 2;
    }
    &--move-img {
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 12rem;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            @include respond-to('small') {
                height: 28rem;
            }
        }
    }
    &--border-top {
        border-top: 1px solid $tertiary-02;
        padding-top: 4rem;
        margin-top: 7rem;
    }
}

