.social-icon,
.icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid $border-light;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .3s ease-in-out;
   @include respond-to('small') {
      width: 48px;
      height: 48px;
   }
   &:hover {
      transform: scale(1.1);
      transition: all .3s ease-in-out;
   }
   &__img {
      width: 19px;
      height: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         max-height: 100%;
      }
   }
   &--red {
      color: $primary;
   }
   &--medium {
      @include respond-to('small') {
         width: 40px;
         height: 40px;
      }
   }
}

.social-icons,
.icon {
   &--vertical {
      .social-icon,
      .addtoany_list.a2a_kit_size_32 a {
         margin-bottom: 12px;
         &:nth-last-of-type(1) {
            margin-bottom: 0;
         }
      }
   }
   &--horizontal {
    display: flex;
    .social-icon {
      margin-right: 4px;
      &:nth-last-of-type(1) {
         margin-right: 0;
      }
   }
   }
   &--white {
      .social-icon {
         border-color: $border-deselect;
      }
   }
   &--sticky {
      position: sticky;
      top: 0;
   }
}

.social-links {
   @include respond-to('small') {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-left: 15px;
   }
   &__icon {
      width: 20px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2.2rem;
      &:nth-last-child(1) {
         margin-right: 0;
      }
   }
   &--horizontal {
      display: flex;
      align-items: center;
   }
}

a.social-links {
   &__icon {
      &:hover {
         opacity: .7;
         transition: all .3s ease-in-out;
      }
      
   }
}