.job-listing {
   padding: 3.2rem 2rem;
   position: relative;
   width: 100%;
   margin-bottom: 0;
   &:hover {
      h3 {
         color: $primary;
         transition: all 0.3s ease-in-out;
      }
   }
   &:nth-last-of-type(1) {
      &:before {
         display: none;
      }
   }
   &__header {
      display: flex;
      cursor: pointer;
      @include respond-to('medium') {
         &:hover {
            .job-listing__content {
               .arrow {
                  opacity: 1;
                  transition: all .3s ease-in-out;
               }
            }
         }
      }
   }
   &__img {
      width: 8rem;
      flex-shrink: 0;
      margin-right: 3.2rem;
   }
   &__content {
      width: calc(100% - 10.2rem);
      display: flex;
      flex-direction: column-reverse;
      @include respond-to('medium') {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
      }
      .label {
         @include respond-to('medium') {
            display: none;
         }
      }
      h3, p {
         margin-bottom: 4px;
      }
      p,li {
         font-size: 14px;
         line-height: 20px;
         font-weight: $font-weight-regular;
      }
      h3 {
         transition: all 0.3s ease-in-out;
         @extend %medium;
         color: $text;
         font-weight: 600;
         font-family: $main-font;
         text-transform: none;
      }
      &-right {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 10px;
         @include respond-to('medium') {
            flex-shrink: 0;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 0;
         }
         .label {
            margin-top: 4px;
            margin-right: 4px;
            display: block;
            @include respond-to('medium') {
               margin-right: 0;
            }
         }
         .date {
            @extend %tiny;
            color: $text-light;
            width: 100%;
         }
         .arrow {
            margin-left: auto;
            margin-top: 10px;
            @include respond-to('medium') {
               opacity: 1;
               transition: all .3s ease-in-out;
            }
         }
         &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            @include respond-to('medium') {
               justify-content: flex-end;
               align-items: flex-end;
               flex-direction: column;
            }
         }
      }
      &-left {
         @include respond-to('small') {
            margin-right: 10px;
         }
         p {
            display: flex;
            align-items: center;
            span {
               display: flex;
               align-items: center;
               &:not(:nth-last-of-type(1)) {
               
                  &:after {
                     content: "";
                     display: inline-block;
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: $text;
                     margin-left: 9px;
                     margin-right: 9px;
                  }
               }
            }
         }
         .job-type {
            flex-shrink: 0;
         }
      }
   }
   &__short-description {
      height: 0;
      overflow: hidden;
      @include respond-to('medium') {
         margin-left: 11.2rem;
      }
      p {
         font-size: 14px;
         line-height: 20px;
         display: inline;
         margin-bottom: 0;
         @include respond-to('small') {
            font-size: 16px;
            line-height: 24px;
         }
      }
      .btn {
         margin-top: 1.6rem;
      }
      &--content {
         // display: flex;
         // flex-direction: column;
         // justify-content: flex-start;
      }
   }
   &.show {
      .arrow {
         transform: rotate(-135deg);
      }
   }
   &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-image: url(img/dashed.png);
      background-repeat: repeat;
      background-size: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
   }
}

.job_position_featured {
   background-color:rgba(242, 243, 248, .8);
   position: relative;
   &:after {
      content: "";
      display: inline-block;
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #fff;
      transform: rotate(135deg);
      position: absolute;
      bottom: -5px;
      right: -13px;
      z-index: 1;
   }
}

.job-listing-click {
   display: none;
   &:checked {
      & ~ .job-listing__header .arrow {
         transform: rotate(-135deg);
      }
      & ~ .job-listing__short-description {
         height: 100%;
         display: block;
         margin-top: 2.2rem;
       }
   }
}