body.open-modal {
   overflow: hidden;
   padding-right: 15px;
}

.modal-wrap {
   background: rgba(255, 255, 255, 0.8);
   display: none;
   overflow: auto;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2000;
   display: none;
   &--center {

     .modal {
        max-width: 750px;
        margin: 7% auto auto auto;
        &__header {
           h3 {
              margin-bottom: 0;
           }
        }
        &__content {
            padding: 20px 20px 2rem;
            @include respond-to('small') {
               padding: 4rem 4.8rem 4.8rem 4.8rem;
            }
        }
     }
   }
}

.modal {
   background-color: #fff;
   box-shadow: $box-shadow;
   transform: translate(0,0);
   max-width: 860px;
   margin: 6rem 5px;
   @include respond-to('small') {
      margin: 6rem auto;
   }
   &__header,
   &__footer {
      padding: 15px;
      @include respond-to('small') {
         padding: 24px 4.8rem;
      }
   }
   &__header {
      border-bottom: 1px solid $border-light;
      position: relative;
   }
   &__content {
      padding: 20px 15px 2rem;
      @include respond-to('small') {
         padding: 4rem 4.8rem 2rem;
      }
   }
   &__footer {
      background-color: $border-deselect;
      .btn {
         padding-left: 4rem;
         padding-right: 4rem;
      }
   }
   &__avatar {
      margin-bottom: 4rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include respond-to('small') {
         flex-wrap: nowrap;
      }
      &-img {
         width: 7.2rem;
         height: 7.2rem;
         border-radius: 50%;
         overflow: hidden;
         position: relative;
         img {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
         }
      }
      .btn, 
      &-img {
         flex-shrink: 0;
         margin-right: 25px;
      }
      p {
         margin-top: 20px;
         font-size: 14px;
         line-height: 20px;
         max-width: 380px;
         @include respond-to('small') {
            margin-top: 0;
            margin-bottom: 0;
         }
      }
     
   }
   &__close {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-btn {
         cursor: pointer;
         color: $text;
         font-weight: 500;
         font-size: 30px;
         transform: rotate(-45deg);
         padding: 10px;
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         &:hover {
            color: $primary;
            transition: all .3s ease-in-out;
         }

         span {
            position: absolute;
            top: -3px;
            display: block;
            // background-color: red;
            display: block;
            border-radius: 50%;
            width: 20px;
            height: 20px;
         }
      }
   }
   &__pdf {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
      border: 2px solid $border-color;
      padding: 10px;
      .custom-file-upload {
         margin-bottom: 7px;
      }
   }
}

.modal-dialog {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader {
   display: none;
   width: 300px;
   height: 300px;
   position: fixed;
   z-index: 999;
   left: 50%;
   right: 50%;
   top: 50%;
   bottom: 50%;
   border: 3px solid $primary;
   border-radius: 50%;
   border-top: 2px solid $tertiary;
   width: 3rem;
   height: 3rem;
   animation: spin 2s linear infinite;
}
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }