.pagination {
   margin-top: 8rem;
   &--center {
      display: flex;
      justify-content: center;
   }
   .prev, .next {
      font-size: 20px;
   }
   li {
      list-style: none;
   }
   .page-numbers {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      display: inline-block;
      padding: 4px 12px;
      &.current {
         background-color: $primary;
         color: #fff;
      }
   }
   .page-numbers.next,
   .page-numbers.prev {
      display: inline-block;
   }
}

.job-manager-pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   .page-numbers {
      li {
         display: inline-block;
      }
   }
}