// .profile-list {
//    position: relative;
//    @include respond-to('small') {
//       display: flex;
//       flex-direction: row;
//    }
//    &__img {
//       width: 60px;
//       height: 60px;
//       border-radius: 50%;
//       margin-bottom: 15px;
//       @include respond-to('small') {
//          flex-shrink: 0;
//          margin-right: 20px;
//       }
//    }
//    &__content {
//       @include respond-to('small') {
//          width: calc(100% - 160px);
//        }
//       h2 {
//          @extend %medium;
//          font-family: $main-font;
//          text-transform: capitalize;
//          margin-bottom: 8px;
//       }
//    }
//    &__short-description {
//       padding-left: 20px;
//       border-left: 2px solid $primary;
//    }
//    &__tags {
//       margin-bottom: 20px;
//    }
//    .profile-list__tag-icons {
//       margin-bottom: 13px;
//       li {
//          display: inline-block;
//          margin: 0 20px 7px 0;
//       }
//    }
//    .btn-arrow {
//       position: absolute;
//       top: 0;
//       right: 0;
//    }
// }

// .profile-list-wrap {
//    max-width: 865px;
//    @include push--auto;
//    hr.dashed {
//       margin-top: 32px;
//       margin-bottom: 32px;
//    }
// }