.profile-img {
   border-radius: 50%;
   overflow: hidden;
   &--medium {
      width: 48px;
      height: 48px;
      @include respond-to('small') {
         width: 80px;
         height: 80px;
      }
   }
   &--small {
      width: 48px;
      height: 48px;
      @include respond-to('small') {
         width: 60px;
         height: 60px;
      }
   }

   &--border {
      border: 1px solid $tertiary;
   }
}