.quote-wrap {
    position: relative;
    @include push--auto;
    &--large {
        max-width: 870px;
        @include respond-to('medium') {
            padding-top: 0;
            padding-left: 11rem;
        }
    }
    &--small {
        padding-left: 10rem;
    }
}

.quote {
    position: relative;
    blockquote {
        margin: 0;
        position: relative;
        color: $text;
        font-weight: 500;
        @include respond-to('medium') {
            padding-top: 0;
        }
        &:before {
            content: "";
            background-image: url(img/quote.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
        }
    }
    &--large {
        blockquote {
            @extend %xx-large;
            margin: 60px 0 0 0;
            padding: 0;
            &:before {
                width: 47px;
                height: 47px;
                top: -50px;
                left: 0;
                @include respond-to('medium') {
                    left: -11rem;
                    top: 6px;
                    width: 80px;
                    height: 75px;
                }
            }
        }
    }
    &--small {
        blockquote {
            @extend %medium;
            margin: 0;
            &:before {
                width: 44px;
                height: 40px;
                top: 5px;
                left: -60px;
            }
        }
    }
    &-author {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        @include respond-to('small') {
            margin-right: 30px;
        }
        &__img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 1;
            margin-right: 16px;
        }
        &__content {
            h6 {
                @extend %medium;
                font-family: $main-font;
                color: $text;
                margin-bottom: 3px;
            }
            span {
                color: $text-light;
                @extend %base;
            }
        }
    }
}