.quote-large {
   position: relative;
   blockquote {
      @extend %xx-large;
      padding-top: 10rem;
      margin: 0;
      position: relative;
      color: $text;
      @include respond-to('medium') {
         padding-top: 0;
      }
      &:before {
         content: "";
         background-image: url(img/quote.jpg);
         background-repeat: no-repeat;
         background-size: contain;
         width: 8rem;
         height: 7.5rem;
         display: inline-block;
         position: absolute;
         top: 9px;
         left: 0;
         @include respond-to('medium') {
            left: -11rem;
         }
      }
   }

   &-author {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      @include respond-to('small') {
         margin-right: 30px;
      }
      &__img {
         width: 56px;
         height: 56px;
         border-radius: 50%;
         flex-shrink: 1;
         margin-right: 16px;
      }
      &__content {
         h6 {
            @extend %medium;
            font-family: $main-font;
            color: $text;
            margin-bottom: 3px;
         }
         span {
            color: $text-light;
            @extend %base;
         }
      }
   }
}

.quote-wrap {
   position: relative;
   max-width: 870px;
   @include push--auto;
   @include respond-to('medium') {
      padding-top: 0;
      padding-left: 11rem;
   }
}