.similar-jobs {
   @include respond-to('small') {
      display: grid;
      grid-template-columns: 5fr 5fr;
      grid-column-gap: 32px;
      grid-row-gap: calc(6.8rem - 14px);
   }

   .job-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding-top: 14px;
      padding-bottom: 14px;
      transition: all .3s ease-in-out;
      &:hover {
         h4 {
            opacity: .8;
            transition: all .3s ease-in-out;
         }
      }
      &--padding {
         padding: 32px 20px;
      }
     &__img {
        flex-shrink: 0;
        width: 60px;
         margin-right: 32px;
         img {
            max-height: 100%;
            width: auto;
            height: auto;
         }
     }
     &__content {
         width: calc(100% - 80px);

         ul {
            padding-left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
               display: flex;
               align-items: center;
               padding-left: 0;
               &:not(:nth-last-of-type(1)) {
                  &:after {
                     content: "";
                     display: inline-block;
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: $text;
                     margin-left: 9px;
                     margin-right: 9px;
                  }
               }
            }
         }

         p {
            display: flex;
            align-items: center;
            span {
               display: flex;
               align-items: center;
               &:not(:nth-last-of-type(1)) {
               
                  &:after {
                     content: "";
                     display: inline-block;
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: $text;
                     margin-left: 9px;
                     margin-right: 9px;
                  }
               }
            }
         }
         h4, p {
            margin-bottom: 7px;
         }
         p,li {
            color: $text-light;
            font-size: 14px;
            line-height: 16px;
            line-height: 20px;
            font-weight: $font-weight-regular;
            &:nth-last-child(1) {
               margin-bottom: 0;
            }
         }
         h4 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            font-family: $main-font;
            text-transform: none;
         }
     }
   }
}