 .slick-container {
   position: relative;
 }

 .slider-controls {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;   
    @include respond-to('small') {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @include respond-to('medium') {
      position: absolute;
      bottom: 0;
      right: 11rem;
  }
 }
 
 .slider-controls__btn{
   z-index: 99;
   display: inline-block;
   cursor: pointer;
   background: #fff;
   width: 6rem;
   height: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid $border-color;
   border-radius: 50%;
   transition: all .3s ease-in-out;
   .arrow {
     border-color: $secondary;
   }
   &:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
   }
   &--prev{
      left: 0;
      margin-right: 20px;
    }
    &--next{
      right: 0;
    }
 }
