.two-column {
   margin-bottom: calc(8rem - 40px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   @include respond-to('small') {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 8rem;
   }
   &:nth-last-of-type(1) {
      margin-bottom: 0;
   }
   &--reverse {
      @include respond-to('small') {
         flex-direction: row-reverse;
      }
   }
   &__text { 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      max-width: 416px;
      margin-bottom: 40px;
      @include respond-to('small') {
         width: 48%;
      }
      h2,
      h3 {
         margin-bottom: 20px;
         @extend %text-xxl-large-uppercase;
      }

      p {
         @extend %medium;
      }
   }

   &__image {
      text-align: center;
      max-width: 416px;
      margin-bottom: 40px;
      @include respond-to('small') {
         width: 48%;
      }
      img {
         max-height: 100%;
         max-height: 250px;
         @include respond-to('small') {
            max-height: 530px;
          }
      }
   }
}