/** Design fixes */
@media (min-width: 768px) {
    body.admin-bar .site-header.header {
        margin-top: 32px;
    }
    .site-header.header {
        margin-bottom: 0;
    }
    .site.site {
        padding-top: 0;
    }
}

/** Tags */
.tag {
    display: inline-flex;
}

/** Modal buttons */
.js-open-modal, 
.js-close,
.js-submit {
    cursor: pointer;
}

/* Multistep form  */
.steps .step,
.multistep-form .step {
    display: none;
}
.steps .step-1,
.multistep-form .step.step-1 {
    display: block;
}
