%message-fixed {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1024;
}

%message,
.message {
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   padding: 2rem;
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 18px;
   color: $text-light;

   li,
   p {
      font-size: 14px;
      line-height: 18px;
      color: $text-light;
   }

   a {
      color: $primary;
   }
}

%message-info,
.message-info {
   background-color: $secondary-light;
   color: $secondary;

   p,
   li {
      color: $secondary;
   }
}

%message-success,
.message-success {
   background-color: $success-background;
   color: $success;

   p,
   li {
      color: $success;
   }
}

%message-error,
.message-error {
   background-color: $warning-background;
   color: $warning;

   p,
   li {
      color: $warning;
   }
}

.main-min-height {
   min-height: 70vh;
}

.display-none {
   display: none;
}

.overflow-hidden {
   overflow: hidden !important;
}

.site {
   padding-top: 80px;

   @include respond-to('small') {
      padding-top: 100px;
   }
}

.page-template-register-thank-you-template,
.page-template-register,
.page-template-login {
   .site {
      padding-top: 0;

      @include respond-to('small') {
         padding-top: 0;
      }
   }
}

.container,
.wp-block-group__inner-container {
   max-width: 1128px;
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   @include push--auto;

   @include respond-to("xsmall") {
      width: 90%;
   }
}

.wp-block-group {
   padding-top: 8rem;
   padding-bottom: 8rem;
}

.container-wide .wp-block-group__inner-container,
.container-wide  {
   max-width: 1352px;
   padding-left: 20px;
   padding-right: 20px;
   @include push--auto;
}

// Gutenberg container group 
.container-small,
.container-medium {
   p {
      color: $text;
      @extend %large;
      margin-bottom: 4rem;
   }

   p.has-huge-font-size,
   .has-huge-font-size {
      @extend %xxl-large;
   }

   p.has-large-font-size,
   .has-large-font-size {
      @extend %xx-large;
   }

   p.has-medium-font-size,
   .has-medium-font-size {
      @extend %x-large;
   }
}

.container-small {
   max-width: 910px;
   @include push--auto;

   &.wp-block-group {
      padding-bottom: 0;
   }

   .wp-block-group__inner-container {
   
      @include respond-to('medium') {
         max-width: 700px;
         margin-left: 0;
         margin-right: auto;
      }

      .wp-block-pullquote {
         margin-bottom: 4rem;
      }
   }
}

.container-medium {
   &.wp-block-group {
      padding-bottom: 0;
   }

   .wp-block-group__inner-container {
      max-width: 910px;
      @include push--auto;
   }

   h2 {
      @extend %text-huge-uppercase;
   }

}

.section-title {
   margin-bottom: 3.7rem;
   text-transform: uppercase;
   @extend %x-large;
   font-family: $title-font-semiBD;

   &--medium {
      @extend %text-xx-large-uppercase;
      margin-bottom: 4rem;
   }
}

.section-title-medium {
   margin-bottom: 3.7rem;
   text-transform: uppercase;
   font-family: $title-font-semiBD;
   @extend %text-xx-large-uppercase;
   margin-bottom: 4rem;
}

.section-title-large {
   margin-bottom: 3.7rem;
   text-transform: uppercase;
   font-family: $title-font-semiBD;
   @extend %text-xxl-large-uppercase;
   margin-bottom: 6rem;
}

.section-title-small {
   margin-bottom: 4.4rem;
}

.section {
   padding-top: 8rem;
   padding-bottom: 8rem;
}

.section-mb {
   margin-bottom: 8rem;
}

.section-mt {
   margin-top: 8rem;
}

.section-pb {
   padding-bottom: 8rem;
}

.section-medium-mt {
   margin-top: 6rem;
}

.section-medium-mb {
   margin-bottom: 6rem;
}

.section-medium-pt {
   padding-top: 6rem;
}

.section-medium-pb {
   padding-bottom: 6rem;
}

.section-small-mt {
   margin-top: 4rem;
}

.section-small-mb {
   margin-bottom: 4rem;
}

.section-small-pt {
   padding-top: 4rem;
}

.section-small-pb {
   padding-bottom: 4rem;
}

.section-large-pb {
   padding-bottom: 10rem;

   @include respond-to('small') {
      padding-bottom: 14rem;
   }
}

.section-large-pt {
   padding-top: 10rem;

   @include respond-to('small') {
      padding-top: 14rem;
   }
}

.section-large-mb {
   margin-bottom: 10rem;

   @include respond-to('small') {
      margin-bottom: 14rem;
   }
}

.section-large-mt {
   margin-top: 10rem;

   @include respond-to('small') {
      margin-top: 14rem;
   }
}

.section-background-light {
   background-color: $background-section-light;
}

.section-background-blue {
   background-color: $secondary;
}

@mixin dashed() {
   position: relative;

   &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-image: url(img/dashed.png);
      background-repeat: repeat;
      background-size: auto;
   }
}

.border-dashed-bottom,
.border-dashed-top {
   @include dashed;

   &--light {
      &:after {
         background-image: url(img/dashed-light.png);
      }
   }
}

.border-dashed-bottom {
   &:after {
      bottom: 0;
   }
}

.border-dashed-top {
   &:after {
      top: 0;
   }
}

.page-light {
   @include respond-to('small') {
      margin-top: 4rem;
   }
}

.entry-content {
   margin-top: 4rem;
}

.entry-title {
   @extend %text-xx-large-uppercase;
}

// User restriction - navbar 
.header__nav,
.footer,
.cta {
   .candidate,
   .employer,
   .menu-item.btn.show-employers-no-vip{
      display: none;
   }
}

body.employer,
body.administrator  {
   .header__nav,
   .footer,
   .cta {
      .hide-for-subscriber,
      .menu-item.btn.show-employers-no-vip {
         display: block;
      }
   }
}

body.employer.subscriber {
   .header__nav,
   .footer,
   .cta {
      .hide-for-subscriber,
      .menu-item.btn.show-employers-no-vip {
         display: none;
      }
   }
}

body.candidate {
   .header__nav,
   .footer,
   .cta {
      .hide-for-candidate {
         display: none;
      }
   }
}

body.employer {

   .header__nav,
   .footer,
   .cta {
      .hide-for-employer {
         display: none;
      }
   }
}

body.candidate,
body.administrator {

   .header__nav,
   .footer,
   .cta {
      .candidate {
         display: block;
      }
   }
}

body.employer,
body.administrator {

   .header__nav,
   .footer,
   .cta {
      .employer {
         display: block;
      }
   }
}
