/* ============ MIXINS ============= */
.disabled-wrap {
   opacity: 0.3;
}

.disabled-click {
   pointer-events: none;
   cursor: default;
}

.mb-3 {
   margin-bottom: 3rem;
}

.color-dark {
   color: $text;
}

.display-none {
   display: none;
}

.unstyle-list {
   list-style: none;
   padding: 0;
   margin: 0;

   li {
      padding: 0;
      margin: 0;
      &:before {
         display: none;
      }
   }
}

.clearfix:before,
.clearfix:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
}

.clearfix:after {
   clear: both;
}

.cover {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.text-center {
   text-align: center;
}

.relative {
   position: relative;
}

.arrow {
   border: solid $text-light;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: .4rem;
   &--light {
      border-color: $border-color;
   }
   &.right {
      transform: rotate(-45deg);
    }
    
    &.left {
      transform: rotate(135deg);
    }
    
    &.up {
      transform: rotate(-135deg);
    }
    
    &.down {
      transform: rotate(45deg);
    }
 }
 
@mixin text-hover() {
   color: $primary;
   transition: all .3s ease-in-out;
}

 @mixin image-cover() {
    position: relative;
    overflow: hidden;
    img {
       position: absolute;
       top: 50%;
       bottom: 50%;
       left: 50%;
       right: 50%;
       transform: translate(-50%, -50%);
       width: 100%;
       height: auto;
    }
 }

@mixin cover() { 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

// Push auto
@mixin push--auto {
   margin: {
      left: auto;
      right: auto;
   }
}

@function strip-unit($value) {
   @return $value / ($value * 0 + 1);
 }
 
 @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
   $u1: unit($min-vw);
   $u2: unit($max-vw);
   $u3: unit($min-font-size);
   $u4: unit($max-font-size);
 
   @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
     & {
       font-size: $min-font-size;
       @media screen and (min-width: $min-vw) {
         font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
       }
       @media screen and (min-width: $max-vw) {
         font-size: $max-font-size;
       }
     }
   }
 }

@mixin line-height($min-vw, $max-vw, $min-font-size, $max-font-size) {
   $u1: unit($min-vw);
   $u2: unit($max-vw);
   $u3: unit($min-font-size);
   $u4: unit($max-font-size);

   @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
      & {
         line-height: $min-font-size;

         @media screen and (min-width: $min-vw) {
            line-height: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
         }

         @media screen and (min-width: $max-vw) {
            line-height: $max-font-size;
         }
      }
   }
}

$breakpoints: ( 'xsmall': (min-width: 576px), 'small': (min-width: 768px), 'medium': (min-width: 992px), 'large': (min-width: 1200px), 'xlarge': (min-width: 1440px));
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
    @if $raw-query {
        $query: if(type-of($raw-query)=='string', unquote($raw-query), inspect($raw-query));
        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}
/* ============ END MIXINS ============= */