%gigantig2-uppercase,
.text-gigantig2 {
   @include fluid-type(320px, 1200px, 58px, 112px);
   @include line-height(320px, 1200px, 58px, 96px);
   text-transform: uppercase;
   letter-spacing: -2%;
}

%gigantig-uppercase,
.text-gigantig {
   @include fluid-type(320px, 1200px, 40px, 72px);
   @include line-height(320px, 1200px, 40px, 68px);
   text-transform: uppercase;
}

%huge,
.text-huge {
   @include fluid-type(320px, 1200px, 40px, 60px);
   @include line-height(320px, 1200px, 50px, 76px);
}

%text-huge-uppercase,
.text-huge-uppercase {
   @include fluid-type(320px, 1200px, 44px, 60px);
   @include line-height(320px, 1200px, 48px, 56px);
   text-transform: uppercase;
}

%xxl-large,
.text-xxl-large {
   @include fluid-type(320px, 1200px, 36px, 48px);
   @include line-height(320px, 1200px, 44px, 56px);
}

%text-xxl-large-uppercase,
.text-xxl-large-uppercase {
   @include fluid-type(320px, 1200px, 36px, 48px);
   @include line-height(320px, 1200px, 36px, 44px);
   text-transform: uppercase;
}

%xx-large,
.text-xx-large{
   @include fluid-type(320px, 1200px, 32px, 40px);
   @include line-height(320px, 1200px, 38px, 48px);
}

%text-xx-large-uppercase,
.text-xx-large-uppercase {
   @include fluid-type(320px, 1200px, 32px, 40px);
   @include line-height(320px, 1200px, 32px, 36px);
   text-transform: uppercase;
}

%x-large,
.text-x-large{
   @include fluid-type(320px, 1200px, 24px, 32px);
   @include line-height(320px, 1200px, 36px, 40px);
}

%text-x-large-uppercase,
.text-x-large-uppercase {
   @include fluid-type(320px, 1200px, 24px, 32px);
   @include line-height(320px, 1200px, 28px, 32px);
   text-transform: uppercase;
}

%large,
.text-large{
   @include fluid-type(320px, 1200px, 18px, 24px);
   @include line-height(320px, 1200px, 26px, 32px);
   line-height: 32px;
}

%text-large-uppercase,
.text-large-uppercase {
   font-size: 24px;
   line-height: 24px;
   text-transform: uppercase;
}

%medium,
.text-medium {
   @include fluid-type(320px, 1200px, 16px, 20px);
   @include line-height(320px, 1200px, 24px, 28px);
}

%text-medium-uppercase,
.text-medium-uppercase {
   @include fluid-type(320px, 1200px, 16px, 20px);
   @include line-height(320px, 1200px, 18px, 20px);
   text-transform: uppercase;
}

%base,
.text-base {
   font-size: 16px;
   line-height: 24px;
}

%text-base-uppercase,
.text-base-uppercase {
   @include fluid-type(320px, 1200px, 16px, 16px);
   line-height: 16px;
   text-transform: uppercase;
}

%small,
.text-small {
   font-size: 14px;
   line-height: 20px;
}

%small-uppercase,
.text-small-uppercase {
   font-size: 14px;
   line-height: 16px;
}

%tiny,
.text-tiny {
   font-size: 12px;
   line-height: 16px;
}

%tiny-uppercase,
.text-tiny-uppercase {
   font-size: 12px;
   line-height: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-family: $title-font-semiBD;
}

h1 {
   @include fluid-type(320px, 1360px, 26px, 48px);
   @include line-height(320px, 1360px, 32px, 44px);
}

h2 {
   @extend %text-xx-large-uppercase;
}

h3 {
   @extend %text-large-uppercase;
}

h4 {
   @extend %text-medium-uppercase;
}

h5 {
   @extend %text-base-uppercase;
}

h6 {
   @include fluid-type(320px, 1360px, 16px, 18px);
   @include line-height(320px, 1360px, 20px, 31px);
}

p,
li {
   @extend %base;
   font-family: $main-font;
   color: $text-light;
   font-weight: $font-weight-regular;
   margin: 0 0 1rem 0;
}

p {
   &:nth-last-of-type(1) {
      margin-bottom: 0;
   }
}

ul {
   padding-left: 14px;
}

li {
   &:nth-last-of-type(1) {
      margin-bottom: 0;
   }
}

hr {

   &.dashed,
   &.dashed-light {
      background-image: url(img/dashed.png);
      background-repeat: repeat;
      background-size: auto;
      margin: 24px 0;
   }

   &.dashed-light {
      background: url(img/dashed-light.png) $secondary;
   }
}

hr.wp-block-separator {
   border-bottom: 0;
   border-color: $border-light;
}

.table-scroll {
   overflow-x: auto;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

thead {
   background-color: $tertiary;
}

th {
   @include fluid-type(320px, 1200px, 14px, 16px);
   color: $text;
   white-space: nowrap;
   text-align: left;
   text-transform: uppercase;
   padding: 2rem 12px;
   font-weight: 700;
}

td {
   padding: 16px 12px;
}

td,
dd,
dd p,
dl dt {
   @extend %base;
   line-height: 18px;
   color: $text-light;
}

address {
   @extend %base;
   color: $text-light;
   margin-top: 20px;
   margin-bottom: 20px;
   font-style: none;
}

fieldset {
   border: 1px solid $border-light;
   font-size: 16px;
   color: $text-light;
}