@font-face {
   font-family: 'TT Octosquares Comp';
   src: url('fonts/TTOctosquaresComp-Reg.eot');
   src: url('fonts/TTOctosquaresComp-Reg.eot?#iefix') format('embedded-opentype'),
       url('fonts/TTOctosquaresComp-Reg.woff2') format('woff2'),
       url('fonts/TTOctosquaresComp-Reg.woff') format('woff'),
       url('fonts/TTOctosquaresComp-Reg.ttf') format('truetype'),
       url('fonts/TTOctosquaresComp-Reg.svg#TTOctosquaresComp-Reg') format('svg');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}

@font-face {
   font-family: 'TT Octosquares Comp Bold';
   src: url('fonts/TTOctosquaresComp-Bold.eot');
   src: url('fonts/TTOctosquaresComp-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/TTOctosquaresComp-Bold.woff2') format('woff2'),
       url('fonts/TTOctosquaresComp-Bold.woff') format('woff'),
       url('fonts/TTOctosquaresComp-Bold.ttf') format('truetype'),
       url('fonts/TTOctosquaresComp-Bold.svg#TTOctosquaresComp-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: 'TT Octosquares Comp SemBD';
    src: url('fonts/TTOctosquaresComp-SemBd.eot');
    src: url('fonts/TTOctosquaresComp-SemBd.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTOctosquaresComp-SemBd.woff2') format('woff2'),
        url('fonts/TTOctosquaresComp-SemBd.woff') format('woff'),
        url('fonts/TTOctosquaresComp-SemBd.ttf') format('truetype'),
        url('fonts/TTOctosquaresComp-SemBd.svg#TTOctosquaresComp-SemBd') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

$primary: #F3401B;
$primary_hover: #F45434;
$primary_focus: #C2290A;
$secondary: #060B41;
$secondary_hover: #0D188C;
$secondary_focus: #000F17;
$tertiary: #F5F5F5;
$tertiary-05: rgba(245, 245, 245, .5);
$tertiary-02: rgba(245, 245, 245, .2);
$text: #242424;
$text-03: #2424244d;
$text-light: #757575;
$text-placeholder: rgba(117, 117, 117, .5);
$success: #259A51;
$success-background: #e8f5ed;
$warning: #C32424;
$warning-background: rgba(195, 36, 36, .1);
$note: #E9AD39;
$black: #000000;
$white: #FFFFFF;
$secondary-light: #F2F3F8;
$background-dark: #D2D3E1;
$background-section-light: rgba(232, 232, 232, 0.25);
$border-color: #D1D1D1;
$border-light: #E8E8E8;
$border-ligth-03: #7272724d;
$border-dark: #727272;
$border-dark-03: rgba(114, 114, 114, .3);
$border-deselect: rgba(232, 232, 232, 0.25);
$title-font: "TT Octosquares Comp";
$title-font-semiBD:'TT Octosquares Comp SemBD';
$main-font: 'Archivo', sans-serif;

$font-weight-regular: 300;
$font-weight-bold: 600;

$box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06), 0px 28px 80px rgba(0, 0, 0, 0.1);
$box-shadow2: 0px 2px 4px rgba(74, 74, 74, 0.25);