// Blog page 

// Blog hero 
.blog-hero {
   min-height: 58.8rem;
   margin-bottom: 200px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   @include respond-to('xsmall') {
      margin-bottom: 8rem;
   }

   &__title {
      margin-bottom: 3.5rem;
      text-transform: uppercase;
      @extend %text-xxl-large-uppercase;
      font-family: $title-font-semiBD;
      transition: all .3s ease-in-out;
   }

   &__content {
      background-color: $white;
      padding: 20px;
      display: inline-block;
      width: calc(100% - 20px);
      margin-left: auto;
      margin-right: 0;
      position: relative;
      top: 160px;

      &:hover {
         .blog-hero__title {
            @include text-hover();
         }

         .btn-arrow {
            transform: translateX(8px);
            transition: all .3s ease-in-out;
         }
      }

      @include respond-to('xsmall') {
         padding: 5.7rem 5.7rem 0 6rem;
         top: initial;
      }

      @include respond-to('small') {
         max-width: 768px;
         padding: 5.7rem 0 0 6rem;
         width: 80%;
      }

      &-inner {
         display: flex;
         flex-direction: row;
         margin-bottom: 1rem;

         .btn-arrow {
            flex-shrink: 0;
            margin-left: 15px
         }
      }

      .btn-arrow {
         transition: all .3s ease-in-out;
         display: none;

         @include respond-to('small') {
            display: flex;
         }
      }

      p {
         @extend %medium;
      }
   }
}

.blog-list {
   padding-bottom: 8rem;

   &__title {
      margin-bottom: 4rem;
      text-transform: uppercase;
      @extend %xx-large;
      font-family: $title-font-semiBD;
   }
}

// Blog list 
.blog-cards {
   display: grid;
   grid-column-gap: 6.4rem;
   grid-row-gap: 8rem;
   grid-template-columns: repeat(1, 1fr);

   @include respond-to('xsmall') {
      grid-template-columns: repeat(2, 1fr);
   }

   @include respond-to('small') {
      grid-template-columns: repeat(3, 1fr);
   }
}

// Blog card 
.blog-card {
   display: block;
   cursor: pointer;

   &:hover {
      h3 {
         @include text-hover();
      }
   }

   @include respond-to('small') {
      display: flex;
      flex-direction: column;
   }

   &__img {
      @include image-cover();
      padding-bottom: 62.5%;

      @include respond-to('small') {
         padding-bottom: 81%;
      }
   }

   &__content {
      padding-top: 2.5rem;

      h3 {
         margin-bottom: 1.6rem;
         font-family: $title-font-semiBD;
         transition: all .3s ease-in-out;
      }
   }

   &__author {
      text-transform: uppercase;
      color: $text-light;
      @extend %tiny;
      font-weight: $font-weight-regular;
      letter-spacing: 1.25px;

      @include respond-to('small') {
         margin-top: auto;
      }
   }

   &__date {
      text-transform: uppercase;
      color: $text-light;
      @extend %tiny;
      font-weight: $font-weight-regular;
      letter-spacing: 1.25px;
      margin-bottom: 8px;
      display: block;
      @include respond-to('small') {
         margin-top: auto;
      }
   }
}

.blog-related {
   display: grid;
   grid-column-gap: 6.4rem;
   grid-row-gap: 40px;
   grid-template-columns: repeat(1, 1fr);

   @include respond-to('xsmall') {
      grid-template-columns: repeat(2, 1fr);
   }

   @include respond-to('small') {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 0px;
   }
}