.company-profile {
   padding-top: 4rem;
   padding-bottom: 4rem;
}

.company-profile-row {
   padding-top: 4rem;
   padding-bottom: 8rem;
   @include respond-to('small') {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-column-gap: 32px;
   }
   &:nth-last-child(1) {
      padding-bottom: 0;

      &:after {
         display: none;
      }
   }
   &__title {
      padding-bottom: 20px;
      grid-column-start: 1;
      grid-column-end: 4;

      h2 {
         @extend %text-xx-large-uppercase;
      }

      h3 {
         @extend %base;
         font-family: $main-font;
         color: $text-light;
         text-transform: none;
         font-weight: $font-weight-regular;
         margin-top: 6px;
      }
   }
   &__content {
      grid-column-start: 4;
      grid-column-end: 9;

      h2,
      h3,
      h4 {
         &:not(:nth-of-type(1)) {
            margin-top: 6rem;

         }

         @extend %text-large-uppercase;
         margin-bottom: 2rem;
      }

      p {
         margin-bottom: 16px;

         &:nth-last-of-type(1) {
            margin-bottom: 0;
         }
      }

      strong {
         color: $text;
         font-weight: 600;
      }

      &-wide {
         grid-column-end: 11;
      }

      .job-listing {
         padding-left: 0;
         padding-right: 0;

         &:nth-of-type(1) {
            padding-top: 0;
         }

         &:nth-last-of-type(1) {
            &:before {
               display: none;
            }
         }
      }
   }
}