.full-page {
   padding-top: 140px;
   padding-bottom: 10rem;
   min-height: calc(100vh - 148px);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: $secondary;
   position: relative;
   @include respond-to('small') {
      padding-top: 22rem;
   }
   &:before {
      content: "";
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url(img/login-hero.png);
      background-size: 1270px auto;
     
      background-repeat: no-repeat;
      background-position: left top;
      @include respond-to('small') {
         background-position: center;
         background-size: cover;
      }
   }

   h1 {
      text-transform: uppercase;
      margin-bottom: 4rem;

   }

   h1,
   p {
      color: $tertiary;
   }

   &__content {
      max-width: 416px;
      position: relative;
      z-index: 1;
      &--large {
         margin-bottom: 32px;
         p {
            @extend %medium;
         }
      }
     
      input[type="submit"],
      .btn {
         width: 100%;
         margin-top: 2rem;
         display: block;
         text-align: center;
         cursor: pointer;
      }
   }
}