.home-hero {
   padding-top: 110px;
   position: relative;
   background-color: $secondary;

   // @include respond-to('small') {
   //    padding-top: 140px;
   // }

   @include respond-to('medium') {
      padding-top: calc(12rem + 99px);
   }

   &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
   }

   &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 14rem;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      @include respond-to('small') {
         height: 8rem;
      }
   }

   h1,
   h2,
   p {
      color: #fff;
   }

   h1 {
      @extend %gigantig2-uppercase;
      margin-bottom: 4rem;
   }

   h2 {
      @extend %gigantig-uppercase;
      margin-bottom: 4rem;
   }

   p {
      @extend %medium;
   }

   .container {
      display: grid;
      grid-template-columns: 10fr;
      grid-row-gap: 40px;
      grid-column-gap: 32px;
      position: relative;

      @include respond-to('medium') {
         grid-template-columns: 5fr 5fr;
         grid-row-gap: 13rem;
         grid-column-gap: 10rem;
      }
   }

   .btn {
      margin-top: 4rem;
   }

   &__img {
      position: relative;
      z-index: 2;

      &-wrap {
         max-width: 530px;
         height: 100%;
      }

      &:nth-of-type(3) {
         order: 4;

         @include respond-to('medium') {
            order: initial;
         }
      }
   }

   &__content {
      position: relative;
      z-index: 2;

      &--large-p {
         @include respond-to('small') {
            padding-bottom: 14rem;
         }
      }

      &-inner {
         max-width: 520px;
      }
   }
}