.job {
   @include respond-to('small') {
      display: grid;
      grid-template-columns: 3fr 7fr;
      grid-column-gap: 32px;
      justify-content: space-between;
   }
   &__sidebar {
      #filter-custom {
         margin-bottom: 6rem;
         display: none;
         position: fixed;
         overflow-y: scroll;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         z-index: 1024;
         background-color: #fff;
         padding: 60px 20px 20px 20px;
         @include respond-to('small') {
            display: block;
            max-width: 200px;
            position: initial;
            top: initial;
            left: initial;
            padding: 0;
            overflow-y: initial;
         }

         // Single select 
         .select2-container--default .select2-selection--single .select2-selection__clear {
            background: $border-color;
            color: #fff;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
        }

        .select2-container .select2-selection--single {
           height: 45px;
        }
      }
      .filter-btn {
         margin-bottom: 32px;
         img {
            margin-right: 8px;
            width: 16px;
         }
         @include respond-to('small') {
            display: none;
         }
      }
      .filter-close {
         position: absolute;
         top: 20px;
         right: 20px;
         @include respond-to('small') {
            display: none;
         }
      }
      .filter-active {
         margin-bottom: 3rem;
         padding-bottom: 3rem;
         position: relative;
         &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 2px;
            background-image: url(img/dashed.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 0;
         }
         li {
            color: $text;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
            .btn-close {
               margin-right: 10px;
            }
         }
      }
   }
   &__main {
      margin-bottom: 8rem;
   }
}

.load_more_jobs {
   background-color: $tertiary;
   display: inline-flex;
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 2rem;
   margin-top: 20px;
   border: 2px solid transparent;
   &:focus {
      border: 2px solid $primary;
      transition: all .3s ease-in-out;
   }
   strong {
      @extend %text-medium-uppercase;
      font-family: $title-font;
      color: $primary;
      font-weight: 500;
   }
}