.login-form,
.form-dark {
   z-index: 2;
   position: relative;

   a {
      color: $primary;
   }

   input[type="submit"], 
   .button {
      @extend %button;
      @extend %button--primary;
   }
   input[type="text"],
   input[type="password"] {
      width: 100%;
      margin-bottom: 0;
   }

   .login-password {
      &:before {
         background-image: url(img/input-white-pass.png);
      }
   }

   .login-remember {
      margin-bottom: 3.2rem;

      label {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         font-size: 14px;
         line-height: 16px;
         color: $tertiary;
      }
   }

   .login-link {
      margin-top: 3.2rem;
   }
}

.login-username,
.login-password{
   display: block;
   position: relative;
   margin-bottom: 20px;

   &:before {
      content: "";
      display: inline-block;
      background-image: url(img/input-white-name.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 14px;
      height: 16px;
      position: absolute;
      left: 16px;
      top: calc(50%);
      bottom: calc(50%);
      transform: translateY(-50%);
   }

   label {
      display: none;
   }

   input,
   input[type="text"],
   input[type="password"] {
      padding-left: 44px;
   }
}

.login-input {
   margin-bottom: 20px;

   @include respond-to('small') {
      width: calc(50% - 10px);
   }
}

.login-label {
   font-size: 16px;
   color: $tertiary;
   opacity: .6;
   margin-bottom: 4px;
}

.form-error {
   margin-bottom: 20px;

   strong {
      color: $primary;
   }

   p {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 18px;
   }
}

.switch-2 {
   display: flex;
   flex-direction: row;
   border: 1px solid $border-deselect;
   padding: 8px;

   &__container {
      width: 50%;
      height: 40px;
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
         input~.switch-2__checkmark {
            background-color: $background-section-light;
            transition: all .3s ease-in-out;
         }
      }

      input {
         position: absolute;
         opacity: 0;
         cursor: pointer;
         transition: all .3s ease-in-out;

         &:checked~.switch-2__checkmark {
            background-color: $background-section-light;
         }

         &:checked~.switch-2__checkmark:after {
            display: block;
         }
      }
   }

   &__checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #fff;
   }
}