.page-404 {
   min-height: 100vh;
   display: flex;
   align-items: center;
   position: relative;
   @extend %hero-background;
   &:before {
      background: url(img/page-404.png);
   }
   .container {
      position: relative;
      z-index: 1;
   }
  
   &__label {
      font-size: 16px;
      line-height: 24px;
      color: $tertiary;
      display: inline-block;
      margin-bottom: 12px;
   }
   &__content {
      max-width: 750px;
      padding-top: 17rem;
      padding-bottom: 13rem;
      * {
         color: $tertiary
      }
      h1 {
         margin-bottom: 4rem;
         @extend %gigantig-uppercase;
      }
   }
   &__inner-content {
      max-width: 420px;
      p {
         @extend %medium;
      }
      .btn {
         margin-top: 32px;
      }
   }
}