.post-job {
   padding-top: 40px;
   padding-bottom: 12rem;

   @include respond-to('medium') {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-column-gap: 32px;
   }

   &__sidebar {
      display: none;

      @include respond-to('medium') {
         display: block;
      }
   }

   &__title {
      margin-bottom: 3.2rem;
      @extend %text-x-large-uppercase;

      &-mt {
         margin-top: 7rem;
      }
   }

   &__account {
      margin-bottom: 7rem;
   }

   &__button-group {
      width: 100%;
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .fieldset-type-radio{
         >label {
            margin-bottom: 15px;
         }
      }
      .jmfe-clear-radio {
         display: none!important;
      }
   }

   &__form-label-wrap {
      display: flex;
      align-items: center;
   }

   fieldset {
      border: none;
      padding: 0;
      margin-bottom: 20px;
      width: 100%;

      input[type="text"],
      input[type="email"],
      input[type="url"],
      input[type="password"],
      input[type="search"],
      input[type="number"],
      input[type="tel"],
      input[type="range"],
      input[type="date"],
      input[type="month"],
      input[type="week"],
      input[type="time"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="color"],
      textarea,
      .select2-container {
         margin-bottom: 0;
      }

      &.fieldset-job_salary_from {
         margin-right: 16px;
      }

      &.fieldset-job_salary_to {
         margin-left: 16px;
      }

      &.fieldset-job_salary_from,
      &.fieldset-job_salary_to {
         width: calc(50% - 20px);
      }
   }

   .fieldset-login_required,
   .fieldset-logged_in {
      max-width: 530px;
      margin-bottom: 4rem;

      a {
         color: $primary;
      }
   }

   .fieldset-create_account_email {
      display: block;
      position: relative;

      &:before {
         content: "";
         display: inline-block;
         background-image: url(img/email-icon-dark.png);
         background-size: cover;
         background-repeat: no-repeat;
         width: 14px;
         height: 16px;
         position: absolute;
         left: 16px;
         top: calc(50%);
         bottom: calc(50%);
         transform: translateY(-50%);
      }

      label {
         position: absolute;
         top: -7px;
         left: 0;
      }

      input,
      input[type="text"],
      input[type="password"] {
         padding-left: 44px;
         margin-top: 20px;
      }
   }

   .wp-editor-container {
      border: 2px solid $border-color;
   }

   .fieldset-type-radio {
      .required-field label {
         display: flex;
         align-items: center;
         margin-bottom: 16px;
      
         .radio-container {
            margin-right: 10px;
         }
      }
   }
}

.multistep-form .error {
   border: 2px solid $warning;
}

.multistep-form .fieldset-type-file.error {
   padding: 10px;
}

.job-manager-term-checklist {
   margin-bottom: 20px;
}

.field {
   ul {
      padding: 0;
      margin: 0;
   }

   li {
      list-style: none;
      margin-left: 0;
   }
}

.fieldset-type-date {
   .field {
      position: relative;

      &:before {
         content: "";
         display: inline-block;
         background-image: url(img/date-icon.png);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         width: 16px;
         height: 16px;
         position: absolute;
         right: 16px;
         top: 50%;
         bottom: 50%;
         transform: translateY(-50%);
      }
   }

}

// Upload files 
.fieldset-company_logo.fieldset-type-file {
   margin-bottom: 20px;
   position: relative;

   input[type=file] {
      opacity: 0;
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      cursor: pointer;
      // background-color: rgba(255, 0, 0, .4);
   }

   .field {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      @include respond-to('xsmall') {
         flex-wrap: nowrap;
      }
   }

   .btn {
      margin-left: 20px;
      margin-right: 20px;
      flex-shrink: 0;
   }

   label {
      display: none;
   }

   .description {
      font-size: 12px;
      line-height: 18px;
      color: $text-light;
      margin-top: 6px;

      @include respond-to('xsmall') {
         font-size: 14px;
         line-height: 20px;
         margin-top: 0;
         width: auto;
      }
   }

   .job-manager-uploaded-files {
      max-width: 120px;
      // width: 7.2rem;
      // height: 7.2rem;
      // flex-shrink: 0;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // &:before {
      //    content: "";
      //    display: inline-block;
      //    background-image: url(img/placeholder.png);
      //    background-position: center;
      //    background-repeat: no-repeat;
      //    background-size: contain;
      //    width: 7.2rem;
      //    height: 7.2rem;
      // }
   }

   .job-manager-remove-uploaded-file {
      display: none;
   }
}

.post-job-packages {
   padding-top: 40px;
   padding-bottom: 12rem;
   position: relative;

   @include respond-to('medium') {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-column-gap: 12rem;
   }

   &__mb {
      margin-bottom: 8rem;
      display: block;
   }

   &__title {
      margin-bottom: 4rem;
      @extend %text-x-large-uppercase;

      &--mt {
         margin-top: 7rem;
      }
   }

   .product-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 2.7rem;
      border: 1px solid $border-color;
      margin-bottom: 1rem;
      @include respond-to('xsmall') {
         flex-wrap: nowrap;
      }
      &.input-selected,
      &.input-selected-radio {
         border-color: #F45434!important;
         background-color: rgba(243, 64, 27, 0.05);
         .product-item__booster-short-description {
            margin-top: 15px;
            display:block;
            opacity: 1;
            transition: opacity 2s ease-in-out;
         }
      }

      &__booster {
         padding: 1.8rem 2.4rem;
      }

       &__booster-short-description {
            display: none;
            opacity: 0;
            transition: opacity 2s ease-in-out;
      }

      .product-image {
         margin-right: 16px;
         margin-bottom: 10px;
         @include respond-to('small') {
            display: block;
         }
         img {
            width: 48px;
            height: 48px;
         }
      }

      .product-image__booster {
         width: 32px;
         height: 32px;
      }

      .product-name {
         padding-right: 20px;
         margin-bottom: 20px;
         display: flex;
         flex-direction: column;
         @include respond-to('xsmall') {
            width: calc(100% - 150px);
            padding-right: 3rem;
            margin-bottom: 0;
         }

         &__booster {
            font-size: 14px;
            line-height: 20px;
            color: $text;
            font-weight: 600;
            margin-right: auto;
         }

         h3 {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
            color: $text;
            font-family: $main-font;
            font-weight: 600;
            text-transform: none;
         }
         li {
            margin-bottom: 4px;
         }
         p,li, b, strong {
            font-size: 14px;
            line-height: 20px;
         }
         strong {
            font-weight: 600;
         }
         p, ul {
            margin: 0 0 10px 0;
         }
         p {
            &:nth-last-of-type(1) {
               margin-bottom: 0;
            }
         }
      }

      .product-price {
         display: flex;
         justify-content: space-between;
         @include fluid-type(320px, 1200px, 14px, 24px);
         text-align: right;
         flex-shrink: 0;
         @include respond-to('xsmall') {
            display: flex;
            justify-content: flex-end;
         }
         .amount {
            margin-right: 10px;
            font-weight: 600;
           
            @include respond-to('xsmall') {
               margin-right: 2.4rem;
               
            }
         }
      }
   }

   .btn {
      margin-top: 3.5rem;
      margin-left: auto;
      display: block;

      &--desktop {
         display: none;

         @include respond-to('medium') {
            display: block;
         }
      }

      &--mobile {
         @include respond-to('medium') {
            display: none;
         }
      }
   }

   &__sidebar {
      @include respond-to('medium') {
         position: relative;

         &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -6rem;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $border-light;
         }
      }
   }

   .package-summary {
      margin-top: 30px;

      @include respond-to('medium') {
         margin-top: 0;
      }

      &__content {
         .content-row {
            font-size: 14px;
            line-height: 20px;
            color: $text;
            font-weight: 400;
            background-color: #fff;
            position: relative;
            margin-bottom: 8px;

            &:before {
               content: "";
               display: inline-block;
               width: 100%;
               height: 2px;
               border-top: 2px dashed $border-color;
               position: absolute;
               z-index: 1;
               top: 9px;
            }
         }

         .content-name {
            display: inline-block;
            background-color: $white;
            z-index: 1;
            font-weight: 400;
            width: 80%;
            span {
               padding-right: 10px;
               display: inline;
               box-decoration-break: clone;
               -webkit-box-decoration-break: clone;
               background-color: #fff;
               position: relative;
               z-index: 1;
            }
         }

         .content-price {
            display: block;
            background-color: $white;
            z-index: 1;
            padding-left: 10px;
            font-weight: 600;
            position: absolute;
            right: 0;
            top: 0;
         }
      }

      .total-price {
         @include fluid-type(320px, 1200px, 16px, 20px);
         @include line-height(320px, 1200px, 24px, 28px);
         line-height: 28px;
         font-weight: 600;
         color: $text;
         display: flex;
         justify-content: space-between;
         border-top: 1px solid $border-color;
         padding-top: 22px;
         margin-top: 22px;
      }
   }
}

.job_listing_packages_title,
.entry-content .job_listing_packages_title,
.resume_packages_title,
.entry-content .resume_packages_title {
   display: none;
}

.job_listing_packages,
.resume_packages {
   border: none;
}