.profile-section {
   
   &__header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 4rem;
      
      .profile-no-data-icon {
         width: 137px;
         display: none;
         @include respond-to('small') {
            display: block;
         }
      }
      .icon {
         &:hover {
            transform: none;
         }
      }
   }
   &__title {
      @extend %medium;
      font-family: $main-font;
      font-weight: 500;
      text-transform: none;
      color: $text-light;
   }

   &__icon {
      flex-shrink: 1;
   }
}

.profile-row {
   padding-top: 20px;
   padding-bottom: 6rem;
   @include respond-to('small') {
      display: grid;
      grid-template-columns: 5fr 5fr;
      grid-column-gap: 32px;
   }
   &:nth-last-child(1) {
      padding-bottom: 0;
   }
   &__title {
      padding-bottom: 20px;
      h2 {
         @extend %text-xx-large-uppercase;
      }
      h3 {
         @extend %base;
         font-family: $main-font;
         color: $text-light;
         text-transform: none;
         font-weight: $font-weight-regular;
         margin-top: 6px;
      }
   }
   &__content {
      p {
         margin-bottom: 12px;
      }
      strong {
         color: $text;
         font-weight: 600;
      }
   }
}

.profile-skill-box {
   &-wrap {
      display: grid;
      grid-template-columns: 10fr;
      grid-row-gap: 3rem;
      @include respond-to("small") {
         grid-template-columns: 5fr 5fr;
         grid-column-gap: 3rem;
      }
   }
   border: 1px solid $border-light;
   padding: 2.8rem;
   h2 {
      @extend %text-large-uppercase;
      margin-bottom: 8px;
   }

   p {
      &:nth-last-child(1) {
         margin-bottom: 0;
      }
   }
}

.profile-short-bio {
   &__label {
      @extend %medium;
      display: inline-block;
      margin-bottom: 12px;
      color: $tertiary;
   }

   hr {
      margin: 6rem 0; 
   }
   p {
      @extend %x-large;
      color: #fff;
   }

   // span {
   //    @extend %base;
   //    display: block;
   //    margin: 16px 16px 16px 0;
   //    color: $tertiary;
   //    @include respond-to('small') {
   //       display: inline-block;
   //    }
   // }
}

.profile-summary {
   &__row {
      padding-top: 20px;
      padding-bottom: 4.8rem;
      @include respond-to('small') {
         display: grid;
         grid-template-columns: 4fr 6fr;
         grid-column-gap: 32px;
      }
      &:nth-last-of-type(1) {
         padding-bottom: 0;
      }
   }
   &__question {
      display: flex;
      padding-left: 6rem;
      h4 {
         @extend %medium;
         font-weight: $font-weight-bold;
         font-family: $main-font;
         text-transform: none;
      }
      
   }
   &__content {
      padding-left: 6rem;
      max-width: 530px;
      @include respond-to('small') {
         padding-left: 0;
      }
   }
   .counter {
      line-height: calc(24px + 4 * ((100vw - 320px) / 880));
   }
}

.profile-lang {
   display: grid;
   grid-row-gap: 20px;
   @include respond-to('small') {
      grid-template-columns: 5fr 5fr;
      grid-column-gap: 20px;
   }
   &__box {
      border: 1px solid $border-light;
      padding: 2.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__stars {
      .star {
         display: inline-block;
         width: 16px;
         margin-left: 5px;
      }
   }
}

.counter {
   position: relative;
   &:before {
      counter-increment: section;
      content: counter(section);
      font-size: 16px;
      font-weight: $font-weight-bold;
      font-family: $main-font;
      color: $text-light;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      @include respond-to('small') {
         width: 36px;
         height: 36px;
         border-radius: 50%;
         border: 1px solid $border-light;
         display: flex;
         justify-content: center;
         align-items: center;
         line-height: 16px;
      }
   }
   &--reset {
      counter-reset: section;
   }
}

.more-dots {
   position: absolute;
   z-index: 1;
   right: 0;
   top: 2.8rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 0 20px 20px 20px;
   cursor: pointer;
   &:hover {
      .dots span {
         background-color: $primary;
         transition: all .3s ease-in-out;
      }
   }
   &-wrap {
      position: relative;
      padding-right: 45px;
   }
   &__popup{
      background-color: #fff;
      border-radius: 6px;
      box-shadow: $box-shadow;
      width: 120px;
      display: none;
      span {
         display: block;
         padding: 1.2rem 2rem;
         font-size: 14px;
         line-height: 20px;
      }
      &-text-red {
         color: $primary;
         border-top: 1px solid $border-light;
      }
   }
}

.dots {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-end;
   cursor: pointer;
   span {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $border-dark;
      display: block;
      margin-bottom: 2px;
   }
}