.profile-list {
    position: relative;
    display: inline-block;
    @include respond-to('small') {
        display: flex;
        flex-direction: row;
    }
    &__header {
        margin-bottom: 5rem;
    }
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 15px;
        overflow: hidden;
        @include respond-to('small') {
            flex-shrink: 0;
            margin-right: 20px;
        }
    }
    &__content {
        @include respond-to('small') {
            width: calc(100% - 160px);
        }
        h2 {
            @extend %medium;
            font-family: $main-font;
            text-transform: capitalize;
            margin-bottom: 8px;
        }
    }
    &__short-description {
        padding-left: 20px;
        border-left: 2px solid $primary;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__tags {
        margin-bottom: 20px;
    }
    .profile-list__tag-icons {
        margin-bottom: 13px;
        li {
            display: inline-block;
            margin: 0 20px 7px 0;
        }
    }
    .btn-arrow {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.profile-list-wrap {
    max-width: 865px;
    min-height: 50vh;
    @include push--auto;
    hr.dashed {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .resume_filters.wpjmsf_filters {
        display: none;
    }
    // Multiple select 2. Skill filter tags
    .wp-job-skill-filter {
        .select2-container {
            margin-bottom: 0;
        }
        .select2-container--default .select2-selection--multiple {
            background-color: transparent;
        }
        .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            background-color: white;
        }

        .select2-container--default .select2-selection--multiple {
            border: none;
        }
        .select2-container--default .select2-search--inline .select2-search__field {
            height: 28px;
            padding: 4px 10px;
            width: 100%;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin-top: 0;
            align-items: center;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered {
            margin-left: 150px;
            width: calc(100% - 150px);
        }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
            width: 142px;
            height: 32px;
            border: 2px solid $primary;
            position: absolute;
            left: 0;
            top: 0;
            &:before {
                content: "+ Add skill filter";
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: -1;
                color: $primary;
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
}

.page-template-profile-list-template {
    .selection {
        // position: relative;
        position: static;
    }
    .select2-dropdown--below {
        max-width: 200px;
        border: 2px solid $border-light!important;
        margin-bottom: 0;
        width: 200px!important;
    }
}

.no_resumes_found {
    list-style: none;
    color: $text;
}