.single-job {
    @include respond-to('medium') {
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-column-gap: 32px;
        grid-template-areas: "main sidebar"
    }
    &-main {
        padding-top: 7.5rem;
        @include respond-to('medium') {
            grid-area: main;
            padding-bottom: 6rem;
        }
    }
    &-sidebar {
        @include respond-to('medium') {
            grid-area: sidebar;
        }
        .applied-tag {
            color: $success;
            // text-transform: uppercase;
            font-weight: 600;

        }
        &__info {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #fff;
            margin-left: auto;
            z-index: 1;
            position: relative;
            @include respond-to('small') {
                padding: 4.8rem 6rem;
            }
            @include respond-to('medium') {
                margin-top: -6rem;
                max-width: 416px;
                position: sticky;
                top: 0;
            }
            @include respond-to('large') {
                margin-top: -155px;
                max-width: 416px;
            }
            h3 {
                @extend %large;
                font-family: $main-font;
                text-transform: none;
                margin-bottom: 12px;
                font-weight: 600;
            }
        }
        &__profile-img {
            margin-bottom: 16px;
            width: auto;
            height: 48px;
            max-width: 22rem;
            @include respond-to('small') {
                height: 80px;
            }
            img {
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
        &__info-content {
            margin-bottom: 24px;
            &.tag-icons li {
                display: flex;
                .tag-icon {
                    flex-shrink: 0;
                }
               
                @include respond-to('medium') {
                    margin-left: 0;
                }
                a {
                    display: block;
                }
            }
        }
    }
}

.single-job-editor {
    h1,
    h2 {
        @extend %text-x-large-uppercase;
        margin-top: 5rem;
        margin-bottom: 2rem;
        &:nth-of-type(1) {
            margin-top: 0;
            ~h1,
            ~h2 {
                margin-top: 5rem;
            }
        }
    }
    h3 {
        @extend %text-large-uppercase;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    h4 {
        @extend %text-medium-uppercase;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }
    h5,
    h6 {
        @extend %text-base-uppercase;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    p,
    ul,
    ol {
        margin-bottom: 2rem;
    }
    ul,
    ol {
        padding-left: 20px;
        li {
            margin: 0 0 0.3rem 0;
        }
    }
    strong {
        font-weight: 700;
        color: $text;
    }
    a {
        text-decoration: underline;
        color: $text;
    }
}