.single-header {
   max-width: 904px;
   @include push--auto;
   margin-bottom: 5.5rem;
   h1 {
      @extend %gigantig-uppercase;
      font-family: $title-font-semiBD;
   }
   &__data {
      @extend %base;
      margin-bottom: 2rem;
      display: inline-block;
      color: $text-light;
   }
   &__label {
      @extend %small;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      display: inline-block;
      margin-bottom: 2rem;
      font-weight: 400;
   }
}

.single-img {
   @include image-cover();
   padding-bottom: 27.5%;
}

.single-inner {
   padding-bottom: 8rem;
   padding-top: 7rem;
   @include respond-to('small') {
      display: grid;
      grid-template-columns: repeat(10, [col-start] 1fr);
      gap: 10px;
   }
}

.single-main {
   @include respond-to('small') {
      grid-column: col-start 1 / span 9;
   }
   @include respond-to('medium') {
      grid-column: col-start 3 / span 6 ;
   }
}

.single-sidebar {
   display: none;
   @include respond-to('small') {
      display: block;
      top: 0;
      grid-column: col-start 10 / span 2 ;
   }
   @include respond-to('medium') {
      grid-column: col-start 10 / span 2 ;
   }
}

.single-author {
   padding-top: 3.6rem;
   margin-top: 4rem;
}
