.banner {
   width: 100%;
   padding: 12px 20px;
   background-color: $primary;
   color: #fff;
   @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
   }

   &--mb {
      margin-bottom: 8rem;

   }
   &--position-top {
      @include respond-to('medium') {
         position: relative;
         z-index: 10;
         top: -4.1rem;  
      }
   }
   &__icon {
      margin-right: 8px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      @include respond-to('small') {
         width: calc(100% - 360px);
         margin-bottom: 0;
      }
      p {
         margin-bottom: 0;
         color: #fff;
      }
   }
   &__btn {
      margin-top: 20px;
      flex-grow: 0;
      @include respond-to('small') {
         margin-top: 0;
      }

      &--group {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         @include respond-to('xsmall') {
            flex-direction: row;
         }
         .btn:nth-of-type(1) {
            margin-right: 10px;
            margin-bottom: 10px;
            @include respond-to('xsmall') {
              margin-bottom: 0;
            }
         }
      }
      
   }
}