.label {
   display: inline-block;
   color: #fff;
   font-size: 14px;
   line-height: 16px;
   font-family: $title-font-semiBD;
   text-transform: uppercase;
   padding: 4px 8px 4px;
   &:before, 
   &:after {
      content: "";
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(img/star.png);
      width: 8px;
      height: 8px;
      position: relative;
      top: -2px;
   }
   &:after {
      margin-left: 4px;
   }
   &:before {
      margin-right: 4px;
   }
   &--mb {
      margin-bottom: 8px;
   }
   &--featured {
      background-color: $success;
   }
   &--featured2 {
      background-color: #0D188C;
   }
   &--pick {
      background-color: $primary;
   }
}