.modal {

  /* width */
  ::-webkit-scrollbar {
    background: #fff; 
    width: 5px;
    border-radius: 5px;
    border: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
    width: 5px;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $border-color; 
    width: 5px;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: $border-color; 
    width: 5px;
    border-radius: 5px;
  }


  body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: $border-color #fff;/* scroll thumb and track */
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: $border-color #fff;
  }
}
