.tag-icons {
   li {
      font-size: 16px;
      margin-bottom: 16px;
      color: $text;
      margin-left: 12px;
      @include respond-to('small') {
         display: inline-block;
      }
      @include respond-to('medium') {
         display: block;
      }
      &:nth-last-of-type(1) {
         margin-bottom: 0;
      }
   }
   &.tag-icons--small {
      li {
         @extend %small;
      }
      .tag-icon {
         position: relative;
         top: 2px;
      }
   }
   .tag-icon {
      margin-right: 8px;
      width: 16px;
      height: 16px;
   }
}