
.tag {
   display: inline-block;
   border: 1px solid $border-deselect;
   padding: 6px 12px;
   border-radius: 2px;
   margin-right: 4px;
   margin-bottom: 4px;
   font-weight: 400;
   position: relative;
   @extend %base;
   &--dark-border {
      border-color: $border-light;
   }
   &--color-dark {
      color: $text;
      font-weight: 300;
   }
   &--small {
      @extend %small;
      padding: 6px 12px;
      line-height: 18px;
   }
   &--btn {
      padding-right: 36px;
   }
   .btn-close {
      margin-left: 10px;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
   }
}

.tags {
   &--mt-small {
      margin-top: 20px;
   }
}