.tooltip {
   position: relative;
   &:hover {
      .tooltip__text {
         visibility: visible;
         opacity: 1;
         transition: all .3s ease-in-out;
      }
    }
   .tooltip__text {
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out;
      @extend %tiny;
      width: 180px;
      background-color: #fff;
      box-shadow: $box-shadow;
      color: $text;
      text-align: center;
      border-radius: 6px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      bottom: calc(100% + 13px);
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      @include respond-to('small') {
         width: 200px;
      }
      &:after {
         content: "";
         position: absolute;
         top: 100%;
         left: 50%;
         margin-left: -7px;
         border-width: 7px;
         border-style: solid;
         border-color: #fff transparent transparent transparent;
         box-shadow: $box-shadow;
      }
    }
}
