.box-icon {
   &-wrap {
      display: grid;
      grid-row-gap: 4rem;
      grid-column-gap: 32px;
      @include respond-to('small') {
         grid-template-columns: 4fr 4fr;
         grid-row-gap: 8.4rem;
      }
   }

   &__img {
      width: 6.4rem;
      height: 6.4rem;
      margin-bottom: 2rem;
      img {
         max-height: 100%;
         width: auto;
         height: auto;
      }
   }

   &__content {
      max-width: 420px;
      h3 {
         margin-bottom: 16px;
      }
      p {
         @extend %medium;
      }
   }
}