.comments {
   background-color: $background-section-light;

   .container {
      @include respond-to('xsmall') {
         display: grid;
         grid-template-columns: repeat(10, [col-start] 1fr);
         gap: 10px;
      }
   }

   &__inner {
      @include respond-to('xsmall') {
         grid-column: col-start 2 / span 8;
      }

      @include respond-to('medium') {
         grid-column: col-start 3 / span 6;
      }
   }

   .comment-form {

      input[type="text"],
      input[type="email"],
      input[type="url"],
      input[type="password"],
      input[type="search"],
      input[type="number"],
      input[type="tel"],
      input[type="range"],
      input[type="date"],
      input[type="month"],
      input[type="week"],
      input[type="time"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="color"],
      textarea {
         margin-bottom: 0;
      }

      p {
         margin-bottom: 20px;
      }

      .comment-form-cookies-consent {
         margin-bottom: 2rem;
      }

      .form-col2 {
         @include respond-to('small') {
            p {
               &:nth-of-type(1) {
                  margin-right: 1.6rem;
               }

               &:nth-of-type(2) {
                  margin-left: 1.6rem;
               }
            }
         }
      }

      div.error {
         margin-top: 3px;
         margin-bottom: 5px;
         font-size: 14px;
         line-height: 16px;
         color: $warning;
      }
   }

   hr.dashed {
      margin-top: 6rem;
      margin-bottom: 6rem;
   }

   .comment-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem;

      .comment-title {
         margin-bottom: 0;
         @extend %text-x-large-uppercase;
      }

      .comment-count {
         font-size: 16px;
         line-height: 24px;
         color: $text-light;
      }
   }

   .comment-body {
      background-color: #fff;
      padding: 2.8rem;
      margin-bottom: 2.8rem;
   }

   .comment-list {
      .comment {}

      .comment-content {
         p:nth-last-of-type(1) {
            margin-bottom: 0;
         }
      }

      .comment-meta {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         margin-bottom: 18px;

         .comment-awaiting-moderation {
            margin-top: 7px;
            padding-top: 7px;
            padding-bottom: 7px;
            color: $text;
            font-size: 14px;
            line-height: 16px;
            font-style: normal;
            border-bottom: 1px solid $border-light;
            border-top: 1px solid $border-light;
         }
      }

      .comment-metadata {
         font-size: 14px;
         line-height: 20px;
         color: $text-light;
      }

      .comment-author {

         img,
         .says {
            display: none;
         }

         .fn {
            color: $text;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
         }
      }
   }

   ol.children {
      list-style: none;
      margin-left: 0;
   }

   .reply {
      font-size: 14px;
      color: $text;
      text-align: right;

      &:hover {
         color: $primary;
         transition: all .3s ease-in-out;
      }
   }

}

#commentform .error {
   border-color: $primary_hover;
}