// Hero sections version
// Hero single  --single
// Hero profile --profile
// Hero profile empty --profile-empty

%hero-background {
   background-color: $secondary;
   &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      opacity: .6;
   }
}

.hero {
   position: relative;
   padding-top: 80px;
   padding-bottom: 40px;
   @include respond-to('small') {
      padding-top: 99px;
      padding-bottom: 8.8rem;
   }

   @extend %hero-background;

   *:not(.btn):not(.hero__guide-list){
      color: #fff;
   }

   .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 2;
      position: relative;
   }

   h1 {
      @extend %gigantig-uppercase;
      margin-bottom: 4rem;
   }

   p {
   @include fluid-type(320px, 1200px, 16px, 24px);
   @include line-height(320px, 1200px, 24px, 32px);
   margin-bottom: 20px;
   }

   &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      // background-image: url(img/hero-background-shape.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &__content {
      max-width: 950px;
   }

   &__tags {
      max-width: 720px;
   }

   &__guide {
      border-top: 1px solid $border-dark-03;
      border-bottom: 1px solid $border-dark-03;
      margin-bottom: 8.8rem;
      .container {
         display: flex;
         flex-wrap: nowrap;
         justify-content: space-between;
         @include respond-to('small') {
            justify-content: center;
         }
      }
      span {
         display: inline-block;
         color: $border-deselect;
         font-family: $title-font-semiBD;
         @extend %text-medium-uppercase;
      }
      &-list {
         padding: 2rem 0;
         color: #fff;
         width: 33.33%;
         max-width: 220px;
         &.active {
            border-bottom: 3px solid #fff;
            color: #fff;
            .hero__guide-checkmark {
               background-color: #fff;
            }
         }
      }
      &-checkmark {
         background-color: $border-deselect;
         border-radius: 50%;
         width: 16px;
         height: 16px;
         position: relative;
         margin-right: 8px;
         &:before {
            content: "";
            position: absolute;
            left: 6px;
            top: 3px;
            width: 5px;
            height: 8px;
            border: solid $secondary;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
         }
      }
   }

   &__profile-list {
      margin-bottom: 32px;
      
      li {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 6px;
         color: $tertiary;
         @include respond-to('small') {
            display: inline-block;
            margin-right: 15px;
         }
      }
      img {
         width: 16px;
         margin-right: 6px;
      }
   }

   &__footer {
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr;
      grid-column-gap: 32px;
      border-top: 1px solid $border-dark-03;
      padding-top: 28px;
      h6 {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 4px;
        text-transform: uppercase;
        @include respond-to('small') {
           font-size: 32px;
           line-height: 32px;
        }
      }
      span {
         font-size: 10px;
         line-height: 12px;
         text-transform: uppercase;
         color: $tertiary-05!important;
         letter-spacing: 1.25px;
         @include respond-to('small') {
            font-size: 12px;
            line-height: 16px;
         }
      }
   }

   .btn-link-back {
      margin-bottom: 30px;
      @include respond-to('medium') {
         margin-bottom: 8rem;
      }
   }

   &__social-icons {
      .social-icons {
         display: flex;
         flex-direction: row;
         @include respond-to('small') {
            flex-direction: column;
            align-items: flex-end;
         }
         .social-icon {
            margin-right: 4px;
            @include respond-to('small') {
               margin-bottom: 7px;
               margin: 0 0 7px 0;
               &:nth-last-of-type(1) {
                  margin-bottom: 0;
               }
            }
            &:nth-last-of-type(1) {
               margin-right: 0;
            }

         }
      }
   }

   // Hero main 
   &--main {
      padding-bottom: 5rem;
      .hero__content {
         margin-top: 8.6rem;
         margin-bottom: 6rem;
         max-width: 860px;
         &-inner {
            max-width: 630px;
         }
         h1 {
            @extend %gigantig2-uppercase;
         }
      }
   }

   // Hero section single 
   &--single-layout {
      .btn-link-back {
         order: 1;
         @include respond-to('small') {
            width: 100%;
         }
      }
     
      .hero__content {
         order: 3;
         width: 100%;
         @include respond-to('small') {
            width: calc(100% - 80px);
            order: 2;
         }
      }
      .hero__social-icons {
         margin-bottom: 30px;
         margin-left: auto;
         margin-right: 0;
         order: 2;
         @include respond-to('small') {
            width: 80px;
            order: 2;
         }
      }
   }

   // Hero section profile 
   &--profile-layout {
    
      .hero__profile-img {
         margin-bottom: 24px;
         order: 2;
         @include respond-to('small') {
            flex-shrink: 1;
            margin-right: 32px;
         }
      }
      .hero__social-icons,
      .hero__right-col {
         order: 3;
         margin-left: auto;
         @include respond-to('small') {
            width: 80px;
            flex-shrink: 1;
         }
      }
      .hero__content {
         order: 4;
         max-width: 865px;
         @include respond-to('small') {
            padding-top: 12px;
            width: calc(100% - 195px);
            order: 3;
         }
      }
      .btn-link-back {
         width: 100%;
         margin-top: 20px;
      }
      .hero__tags {
         margin-bottom: 32px;
         max-width: 865px;
         @include respond-to('small') {
            margin-top: 7.4rem;
         }
      }
   }

   // Hero section profile empty 
   &--profile-empty-layout {
      .hero__right-col {
         margin-bottom: 24px;
         display: flex;
         align-items: center;
         @include respond-to('small') {
            margin-bottom: 0;
            width: 28rem;
            flex-shrink: 1;
         }
         &--center {
            @include respond-to('small') {
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
         }
      }
      .hero__content {
         order: 4;
         max-width: 865px;
         @include respond-to('small') {
            width: calc(100% - 28rem - 115px);
            order: 3;
            margin-left: auto;
         }
      }
   }
}
