.job-listing {
   padding: 3.2rem 2rem;
   position: relative;
   &__header {
      display: flex;
      cursor: pointer;
      @include respond-to('medium') {
         &:hover {
            .job-listing__content {
               .arrow {
                  opacity: 1;
                  transition: all .3s ease-in-out;
               }
            }
         }
      }
   }
   &__img {
      width: 8rem;
      flex-shrink: 0;
      margin-right: 3.2rem;
   }
   &__content {
      width: calc(100% - 10.2rem);
      @include respond-to('medium') {
         display: flex;
         justify-content: space-between;
      }
      .label {
         @include respond-to('medium') {
            display: none;
         }
      }
      h3, p {
         margin-bottom: 4px;
      }
      p,li {
         font-size: 14px;
         line-height: 20px;
         font-weight: $font-weight-regular;
      }
      h3 {
         @extend %medium;
         color: $text;
         font-weight: 600;
         font-family: $main-font;
         text-transform: none;
      }
      &-right {
         display: flex;
         align-items: center;
         margin-top: 10px;
         @include respond-to('medium') {
            flex-direction: column;
            align-items: flex-end;
            margin-top: 0;
         }
         .label {
            display: none;
            @include respond-to('medium') {
               display: block;
               margin-top: 4px;
            }
         }
         .date {
            @extend %tiny;
            color: $text-light;
         }
         .arrow {
            margin-left: auto;
            @include respond-to('medium') {
               opacity: 0;
               transition: all .3s ease-in-out;
               margin-top: auto;
            }
         }
      }
      &-left {
         li p {
            display: flex;
            align-items: center;
            span {
               display: flex;
               align-items: center;
               &:not(:nth-last-of-type(1)) {
               
                  &:after {
                     content: "";
                     display: inline-block;
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: $text;
                     margin-left: 9px;
                     margin-right: 9px;
                  }
               }
            }
         }
      }
   }
   &__short-description {
      display: none;
      margin-top: 3.2rem;
      @include respond-to('medium') {
         margin-left: 11.2rem;
      }
      p {
         font-size: 14px;
         line-height: 20px;
         @include respond-to('small') {
            font-size: 16px;
            line-height: 24px;
         }
      }
      .btn {
         margin-top: 1.6rem;
      }
   }
   &.show {
      .arrow {
         transform: rotate(-135deg);
      }
   }
   &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-image: url(img/dashed.png);
      background-repeat: repeat;
      background-size: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
   }
}

.job_position_featured {
   background-color: #F2F3F8;
   position: relative;
   &:after {
      content: "";
      display: inline-block;
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #fff;
      transform: rotate(135deg);
      position: absolute;
      bottom: -5px;
      right: -13px;
      z-index: 1;
   }
}
